{% load i18n %}
{% load a_templatetags %}
<div id="win_mess" style="display: none;" class="winFloating">
	<div class="bodyWF">
		<div class="headWF">
			<div class="btnCloseWF"><input type="button" name="" value="" class="btn_wf_close" onClick="javascript: closeChangeWindow('win_mess');" title="{% trans "Закрыть окно" %}" /></div>
			<div class="headWF_txt">{% trans "Предупреждение" %}</div>
		</div>
		<div class="contWF1"><div class="contWF" id="win_mess_contWF"></div></div>
		<div class="footerWF">
			<input type="button" name="" value="{% trans "ОК" %}" class="btn_wf_blue" onClick="javascript: closeChangeWindow('win_mess');" />    
		</div>
	</div>
</div>
<div id="win_add" style="display: none;" class="winFloating">
	<form method="post" action="" id="frmAddArchive" class="bodyWF frm_add">
        <div class="headWF">
            <div class="btnCloseWF"><input type="button" name="" value="" class="btn_wf_close" onClick="javascript: closeChangeWindow('win_add');" title="{% trans "Закрыть окно" %}" /></div>
            <div class="headWF_txt">{% trans "Добавление видеоархива" %}</div>
        </div>
        <div class="contWF1"><div class="contWF_add" id="win_add_contWF">          
			{% trans "Поля, отмеченные звёздочкой" %} (<span class="req">*</span>), {% trans "являются обязательными для заполнения" %}.
			<div class="bl_param">
				<div class="bl_error"></div>
				<div class="block">
					<label for="ip" class="bl_txt"><span class="req">*</span>IP:</label>
					<input id="ip" type="text" name="ip" value="" class="inp_txt" />
				</div>
			</div>
			<div class="bl_param">
				<div class="bl_error"></div>
				<div class="block">				
					<label for="url" class="bl_txt"><span class="req">*</span>{% trans "Url" %}:</label>
					<input id="url" type="text" name="url" value="" class="inp_txt" />
				</div>
			</div>      
        </div></div>
        <div class="footerWF">
            <input type="submit" name="" value="{% trans "Добавить" %}" class="btn_wf_blue" />
            <input type="button" name="" value="{% trans "Отмена" %}" class="btn_wf" onClick="javascript: closeChangeWindow('win_add');" />
        </div>
	</form>
</div>
<div id="win_add2" style="display: none;" class="winFloating">
    <div class="bodyWF">
        <div class="headWF">
            <div class="btnCloseWF"><input type="button" name="" value="" class="btn_wf_close" onClick="javascript: closeChangeWindow('win_add2');" title="{% trans "Закрыть окно" %}" /></div>
            <div class="headWF_txt">{% trans "Добавление видеоархива" %}</div>
        </div>
        <div class="contWF1"><div class="contWF_add" id="win_add2_contWF"></div></div>
        <div class="footerWF">
            <input type="button" name="" value="{% trans "ОК" %}" class="btn_wf_blue" onClick="javascript: closeChangeWindow('win_add2');" />    
        </div>
    </div>
</div>
<div id="win_del" style="display: none;" class="winFloating">
    <div class="bodyWF">
        <div class="headWF">
            <div class="btnCloseWF"><input type="button" name="" value="" class="btn_wf_close" onClick="javascript: closeChangeWindow('win_del');" title="{% trans "Закрыть окно" %}" /></div>
            <div class="headWF_txt">{% trans "Удаление видеоархива" %}</div>
        </div>
        <div class="contWF1"><div class="contWF_add" id="win_del_contWF"></div></div>
        <div class="footerWF">
            <input type="button" name="" value="{% trans "Удалить" %}" class="btn_wf_blue" onClick="javascript: delArchive();" />
            <input type="button" name="" value="{% trans "Отмена" %}" class="btn_wf" onClick="javascript: closeChangeWindow('win_del');" />		  
        </div>
    </div>
</div>