{% load i18n templatetags %}
{% include "js/js_viewphotos.html" %}
{% include "js/js_update_left_photos.html" %}
<h2><a href="/lists/">{% trans "Списки" %}</a> - {% trans  name_group  %}<input type="button" id="img_1" name="" value="" class="btn_quest" onClick="javascript: showHelp(this, '{% trans 'контекстная_помощь_Персоны' %}');" /></h2>
{% include "current_time.html" %}
<form method="get" action="" name="" id="mainForm">
	<input type="hidden" value="0" name="delo" id="delid">
	<div class="frm_block">	
		{% if all_persons > 0 %}
			{% include "search.html" %}
			{% if group %}<input type="hidden" name="group" value="{{ group }}" />{% endif %}
		{% endif %}					
		<div>{% trans "Общее количество персон" %}: <span class="info_important" id="all_persons">0</span></div>
		<div>{% trans "Общее количество фотографий" %}: <span class="info_important" id="all_photos">0</span></div>
		<script type="text/javascript">
			updatePersonPhotosCount({{ group }});
		</script>
		<div class="short_descr" title="{% trans 'Сколько фотографий Вы можете еще добавить' %}">{% trans "Ограничение на добавление фотографий" %}: <span class="info_important" id="left_photos"><span class="loader_count"><img src="/files/images/loader20x20.gif" alt="" /></span></span></div>
		{% if filter %}	
			{% if all_users > 0 %}<div class="frm_block">{% trans "Количество отфильтрованных записей" %}: <span class="info_important">{{ filter_persons }}</span></div>{% endif %}
		{% endif %}
	</div>					
	
	<div class="frm_block">				
		{% if all_users > 0 %}
			<div class="bl_btn_check short_descr" title="{% trans "Выделить все записи на данной странице" %}"><div><input type="checkbox" name="" value="" class="inp_check check_all" id="choose_all" /><label for="choose_all">{% trans "Выделить всё" %}</label></div></div>
		{% endif %}
		<a href="{{ project_url }}/anketaperson/{% if group %}?group={{ group }}{% endif %}" class="link_btn_cancel dist_btn_group2"><span>{% trans "Добавить" %}</span></a>
		{% if all_users > 0 %}
			<input type="button" name="" value="{% trans "Экспорт персон" %}" onClick="javascript: showMessageExport()" class="inp_btn inp_btn140" />
		{% endif %}
		<input type="button" name="" value="{% trans "Импорт персон" %}" onClick="javascript: importPerson();" class="inp_btn inp_btn140 dist_left" />
		{% if all_users > 0 %}
			<input type="button" name="" value="{% trans "Удалить выделенные" %}" onClick="javascript: showMessageDelete()" class="inp_btn inp_btn170 dist_btn_group" />
		{% endif %}
	</div>
						
	{% if all_users > 0 %}
		{% include "po4NavigationBlock.html" %}	
		<div class="cont_table">
			<div class="views">
				<a href="?start={{ page }}{% if sorto %}&sorto={{ sorto }}{% endif %}{% if up %}&up={{ up }}{% endif %}{% if filter %}&filter={{filter}}{% endif %}{% if dateBegin %}&dateBegin={{dateBegin|date:"d.m.Y"}}{% endif %}{% if dateEnd %}&dateEnd={{dateEnd|date:"d.m.Y"}}{% endif %}{% if defined %}&defined=1{% endif %}{% if group %}&group={{ group }}{% endif %}&view={% if view %}{{ view }}{% else %}5{% endif %}" id="view2" class="view view2{% if view %} act{% endif %} short_descr" title="{% trans "Просмотр списка с фотографиями" %}" onClick="setCookie('view', 5, 9999);"></a>
				<a href="?start={{ page }}{% if sorto %}&sorto={{ sorto }}{% endif %}{% if up %}&up={{ up }}{% endif %}{% if filter %}&filter={{filter}}{% endif %}{% if dateBegin %}&dateBegin={{dateBegin|date:"d.m.Y"}}{% endif %}{% if dateEnd %}&dateEnd={{dateEnd|date:"d.m.Y"}}{% endif %}{% if defined %}&defined=1{% endif %}{% if group %}&group={{ group }}{% endif %}" title="{% trans "Просмотр списка без фотографий" %}" id="view1" class="view view1{% if not view %} act{% endif %} short_descr" onClick="setCookie('view', 0, 9999);"></a>				
			</div>						
			<table cellspacing="0" cellpadding="0" class="list_users" id="table">
				<tr>
					
					<th class="first">&nbsp;</th>
					<th>ID</th>
					
					<th><a href="?start={{start}}&sorto=2&up={% if sorto == 2 and up == 1 %}0{% else %}1{% endif %}{% if filter %}&filter={{filter}}{% endif %}{% if group %}&group={{ group }}{% endif %}" class="btn_arrow {% if sorto == 2 and up == 1  %}up{% else %}down{% endif %} not_wrap">{% trans "ФИО" %}</a></th>
					{% if view %}<th colspan="2">{% trans "Фотографии" %}</th>{% else %}<th>{% trans "Фотографии" %}</th>{% endif %}
					{% comment %}
					<th><a href="?start={{start}}&sorto=3&up={% if sorto == 3 and up == 1 %}0{% else %}1{% endif %}{% if filter %}&filter={{filter}}{% endif %}{% if group %}&group={{ group }}{% endif %}" class="btn_arrow {% if sorto == 3 and up == 1  %}up{% else %}down{% endif %} not_wrap">{% trans "Статус" %}</a></th>
					<th><a href="?start={{start}}&sorto=4&up={% if sorto == 4 and up == 1 %}0{% else %}1{% endif %}{% if filter %}&filter={{filter}}{% endif %}{% if group %}&group={{ group }}{% endif %}" class="btn_arrow {% if sorto == 4 and up == 1  %}up{% else %}down{% endif %}">{% trans "Категория" %}</a></th>
					{% endcomment %}
					<th><a href="?start={{start}}&sorto=5&up={% if sorto == 5 and up == 1 %}0{% else %}1{% endif %}{% if filter %}&filter={{filter}}{% endif %}{% if group %}&group={{ group }}{% endif %}" class="btn_arrow {% if sorto == 5 and up == 1  %}up{% else %}down{% endif %} not_wrap">{% trans "Статья" %}</a></th>
					<th><a href="?start={{start}}&sorto=6&up={% if sorto == 6 and up == 1 %}0{% else %}1{% endif %}{% if filter %}&filter={{filter}}{% endif %}{% if group %}&group={{ group }}{% endif %}" class="btn_arrow {% if sorto == 6 and up == 1  %}up{% else %}down{% endif %}">{% trans "Изолятор" %}</a></th>
				</tr>
				{% for user in users %}
						<tr {% cycle '' 'class="odd"' %}>
							
							<td class="td_check2 first"><input type="checkbox" name="pi{{forloop.counter}}" value="{{user.id}}" class="inp_check" id="check{{ forloop.counter }}" /></td>
							<td class="td_id">{{ user.id }}</td>
							
							<td><a href="{{ project_url }}/anketaperson/{{ user.person.id }}/{% if group %}?group={{ group }}{% endif %}">{{ user.person.first_name }} {{ user.person.last_name }} {{ user.person.middle_name }}</a></td>
							{% if view %}
								<td class="td_list">												
										{% if user.photos.photos|length > 0 %}
											<ul class="list_photos">
											{% for photo in user.photos.photos %}
												<li>
													<div>
														<a href="/image/?id={{ user.photos.id }}&photo={{ photo.num }}&big=.jpg" target="_blank"><img src="/image/?id={{ user.photos.id }}&photo={{ photo.num }}&width=60&height=60" class="photo" alt="" /></a>
														<a href="/image/?id={{ user.photos.id }}&photo={{ photo.num }}&big=.jpg" class="btn_loupe"><span></span></a>
													</div>
												</li>
											{% endfor %}
											</ul>
										{% else %}
											<img src="/files/images/no_photo60x60.gif" width="60px" height="60px" alt="" />
										{% endif %}
									</ul>
								</td>
								<td class="td_photos">{% trans "всего" %}: {{ user.photos.count }}</td>
							{% else %}
								<td class="td_photos">{{ user.photos.count }}</td>												
							{% endif %}	
							{% comment %}
							<td>{% if user.person.status %}{% trans  user.person.status  %}{% else %}&nbsp;{% endif %}</td>
							<td><span {% if user.person.category == 'Особо опасен' %}class="danger2" {% endif %} {% if user.person.category == 'Опасен' %}class="danger1" {% endif %}>{% if user.person.category %}{% trans  user.person.category  %}{% else %}&nbsp;{% endif %}</span></td>
							{% endcomment %}
							<td>{{ user.person.article }} {% trans "ч." %} {{ user.person.article_part }} {% trans "п." %} {{ user.person.article_item }}</td>
							<td>{% if not user.person.room_facility %}&nbsp;{% else %}{% trans user.person.room_facility %}{% endif %}</td>
						</tr>
				{% endfor %}
			</table>
		</div>
		{% include "po4NavigationBlock.html" %}
		
		<div class="frm_block">
			<div class="bl_btn_check short_descr" title="{% trans "Выделить все записи на данной странице" %}"><div><input type="checkbox" name="" value="" class="inp_check check_all" id="choose_all2" /><label for="choose_all2">{% trans "Выделить всё" %}</label></div></div>
			<a href="{{ project_url }}/anketaperson/{% if group %}?group={{ group }}{% endif %}" class="link_btn_cancel dist_btn_group2"><span>{% trans "Добавить" %}</span></a>
			{% if all_users > 0 %}
				<input type="button" name="" value="{% trans "Экспорт персон" %}" onClick="javascript: showMessageExport()" class="inp_btn inp_btn140" />
			{% endif %}
			<input type="button" name="" value="{% trans "Импорт персон" %}" onClick="javascript: importPerson();" class="inp_btn inp_btn140 dist_left" />
			{% if all_users > 0 %}
				<input type="button" name="" value="{% trans "Удалить выделенные" %}" onClick="javascript: showMessageDelete()" class="inp_btn inp_btn170 dist_btn_group" />
			{% endif %}
		</div>
	{% else %}
		<div class="message_action dist_top">{% trans "Не найдены записи, соответствующие заданным условиям поиска" %}.</div>
	{% endif %}					
</form>