{% load i18n %}
{% load templatetags %}
<div id="win_training_result" style="display: none;" class="winFloating">
	<div class="bodyWF">
		<div class="headWF">
			<div class="btnCloseWF"><input type="button" name="" value="" class="btn_wf_close" onClick="javascript: closeChangeWindow('win_training_result');" /></div>
			<div class="headWF_txt">{% trans "Результат обучения" %}</div>
		</div>
		<div class="contWF" id="win_training_result_contWF">&nbsp;</div>
		<div class="footerWF">
			<input type="button" name="" value="{% trans "ОК" %}" class="btn_wf_blue" onClick="javascript: closeChangeWindow('win_training_result');" />
		</div>
	</div>
</div>
<script type="text/javascript">
	if(getParameterByName('learned').toLowerCase()=="true"){
		changeWindow({id: 'win_training_result', css: {width: '300px', height: '200px'}, txt: '{% trans "Обучение прошло успешно." %}'});
	}else if(getParameterByName('learned').toLowerCase()=="false"){
		changeWindow({id: 'win_training_result', css: {width: '300px', height: '200px'}, txt: '{% trans "Обучение не удалось." %}'});
	}
</script> 