platform.*/
/bundles/
/target/
/bin/
/checkpoint/
.settings/
.metadata/
.project
.classpath
.idea/
**/META-INF
**/nbactions.xml
**/build.properties
*.log
**/lastbuild.*
**/changelog.txt
**/Version.txt
**/pom.xml.releaseBackup
**/release.properties
*.iml
*.exp
*.lib
*.pyc