<html>
<body>
<script src="http://static.ak.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php" type="text/javascript"></script>
<script src="facebook_permission_test.js" type="text/javascript"></script>
<script type="text/javascript">
    function FB_perm_result(value){
        alert(value ? "granted" : "not granted");
    }
    FB_test_perm("***", "xd_receiver.htm", "publish_stream", FB_perm_result);
</script>
<!-- Note: Include this div markup as a workaround for a known bug in this release on IE where you may get a "operation aborted" error -->
<div id="FB_HiddenIFrameContainer" style="display:none; position:absolute; left:-100px; top:-100px; width:0px; height: 0px;"></div>
</body>
</html>
 