<style type="text/css">
	html {
		height: 100%;
	}
	body {
		position: relative;
		height: 100%;
		padding: 0px;
		margin: 0px;    
		font-size: 13px;
		font-family: arial,helvetica,sans-serif;
		color: #333333;
		background-color: #f9f9f9;
		line-height: 1.5;
	}
	*html .body1 {
		height: 100%;
	}
	.body1 {
		min-height: 100%;
		position: relative;
	}
	.header {
		padding-top: 10px;
		width: 100%;
		overflow: hidden;
	}
	.content {
		width: 100%;
		overflow: hidden;
		clear: both;
		padding-bottom: 10px;
		padding-top: 10px;
		position: relative;
	}
	.content_add {
		padding: 0px 10px;
	}
	.clear {
		clear: both;
		height: 50px;
	}
	a {
		text-decoration: none;
		color: #0088cc;
	}
	a:hover {
		text-decoration: underline;
	}
	ul {
		margin: 0px;
		padding: 0px;
	}
	.footer {
		width: 100%;
		height: 50px;
		position: relative;    
		margin: -50px auto 0px auto;
		background-color: #ffffff;
		font-size: 11px;
	}
	.footer .block_contacts {		
		text-align: center;
		padding-top: 6px;
		border-top: 1px solid #dddddd;
	}
	.footer .block_contacts .list_contacts {
		display: inline;
		margin-left: 10px;
	}
	.footer .block_contacts .list_contacts li {
		display: inline;
		margin-right: 10px;
	}
	.footer .copyright {
		text-align: center;
		margin-top: 3px;
	}
	.footer .version {
		position: absolute;
		right: 10px;
		bottom: 55px;
	}
	.table {
		margin: 10px 0px 10px 0px;
		padding: 0px;
		width: 100%;
		border-top: 1px solid #6e7d98;
	}
	.table tr.odd {
		background-color: #DBE2F0;
	}
	.table th {
		vertical-align:top;
		text-align: center;
		border-right: 1px solid #6e7d98;
		border-bottom: 1px solid #6e7d98;
		background-color: #d9dee7;
		padding: 3px 5px;
		font-weight: normal;
	}
	.table th.first {
		border-left: 1px solid #6e7d98;
	}
	.table th.date_time {
		width: 75px;
	}
	.table td {
		border-bottom: 1px solid #cccccc;
		border-right: 1px solid #cccccc;
		vertical-align: top;
		padding: 3px 5px;    
	}
	.table td.first {
		border-left: 1px solid #cccccc;
	}
	.table td.td_act {
		width: 30px;
		text-align: center;
	}
	.table td.td_check {
		width: 62px;
	}
	.table td.error {
		color: #ff0000;
	}
	.block_navigation {
		margin-top: 10px;
		width: 100%;
		overflow: hidden;
	}
	.block_navigation .page {
		float: left;
		margin-right: 0.3em;
		padding: 0.2em 0.5em;
		border: 1px solid #EAEAEA;
		background-color: #F9F9F9;
		cursor: pointer;
		color: #333333;
	}
	.block_navigation a:hover{
		border: 1px solid #bbbaba;
		text-decoration: none;
	}
	.block_navigation .active {
		border: 1px solid #ff6600;
		cursor: default;
	}
</style>