<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<meta name="description" content="" />

<style type="text/css">
.block_img {
    width: 450px;
    margin: 0px auto;
} 
.block_img a {
    text-decoration: none;
}
.block_img a img {
    border: none;
}   
</style>
</head>
<body>
<div class="block_img"><a href='{{app_url}}'><img src='{{image_url}}' width='450' height='495' alt=""></a></div>
</body>
</html>
 