{% load i18n %}
{% load templatetags %}
<script type="text/javascript">
var ADD_BALANS = "{% trans 'Добавить балансировщик к управляющей системе' %}";
var DEL_ALL_BALANS = "{% trans 'Удалить все балансировщики управляющей системы' %}";
var DUP_BALANS = "{% trans 'Создать дубликат балансировщиков' %}";
var RENAME_SET_BALANS = "{% trans 'Переименовать настройки балансировщиков' %}";
var BALANSS = "{% trans 'Балансировщики' %}";
var ONLY = "{% trans 'всего' %}";

var ADD_SET_US = "{% trans 'Добавить настройку управляющей системы' %}";
var DEL_ALL_SET_US = "{% trans 'Удалить все настройки управляющей системы' %}";
var DUP_SET_US = "{% trans 'Создать дубликат настройки/Группы настроек' %}";
var RENAME_SET_US = "{% trans 'Переименовать настройку/Группу настроек' %}";
var SET_US = "{% trans 'Настройки управляющей системы' %}";

var ADD_SET_TO_BALANS = "{% trans 'Добавить настройку к балансировщику' %}";
var DEL_BALANS = "{% trans 'Удалить балансировщик из управляющей системы' %}";
var DUP_BALANS = "{% trans 'Создать дубликат балансировщика' %}";
var RENAME_SET_BALANS = "{% trans 'Переименовать настройки балансировщика' %}";
var BALANS = "{% trans 'Балансировщик' %}";

var ADD_PARAM = "{% trans 'Добавить параметр' %}";
var DEL_PARAM = "{% trans 'Удалить параметр' %}";
var DUP_PARAM = "{% trans 'Создать дубликат параметра' %}";
var RENAME_PARAM = "{% trans 'Переименовать параметр' %}";

var ERROR1 = "{% trans 'Внимание! Произошла ошибка. Параметр не может быть удалён.' %}";
var ERROR2 = "{% trans 'Произошла ошибка при сохранении настроек.' %}";
var ERROR3 = "{% trans 'Произошла ошибка при сохранении и применении настроек.' %}";
var ERROR4 = "{% trans 'Переименованы не все параметры. Проверьте список запрещенных к изменению параметров.' %}";
var ERROR5 = "{% trans 'Внимание! Произошла ошибка. Параметр не может быть переименован.' %}";
var ERROR6 = "{% trans 'Внимание! Произошла ошибка. Параметр не может быть скопирован.' %}";
var SUCCESS1 = "{% trans 'Параметр успешно удалён.' %}";
var SUCCESS2 = "{% trans 'Настройки успешно сохранены.' %}";
var SUCCESS3 = "{% trans 'Параметр успешно переименован.' %}";
var SUCCESS6 = "{% trans 'Параметр успешно скопирован.' %}";

var REBOOT_SYSTEM_ANSWER = '{% trans "Вы действительно хотите перезапустить систему?" %}'
var SET_SAVE_APPLY = "{% trans 'Настройки успешно сохранены и применены.' %}";
var REBOOT_SYSTEM = "{% trans 'Система перезапущена.' %}";
var SET_SAVE = "{% trans 'Настройки успешно сохранены.' %}";
var ERROR_REBOOT = "{% trans 'Ошибка перезапуска системы.' %}";

var IMPORT_SUCCESS = "{% trans 'Импорт параметров выполнен успешно.' %}";
var IMPORT_ERROR = "{% trans 'Произошла ошибка при импорте параметров.' %}";
var SET_IMPORT_APPLY = "{% trans 'Настройки успешно применились.' %}"

var BLOCK_USER = "{% trans 'Заблокировать пользователя' %}";
var USER = "{% trans 'Пользователь' %}";
var BLOCK = "{% trans 'заблокирован' %}";
var ERROR_FILE = "{% trans 'Выберите файл с настройками' %}";

var TURN_ON = "{% trans 'Да' %}"
var TURN_OFF = "{% trans 'Нет' %}"
</script>