.inp_btn40 {
	width: 40px;
	background: url('/files/images/button40x24_up.png') top left no-repeat;
	-background: none;  
	-filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/files/images/button40x24_up.png', sizingMethod='crop');		
}
.inp_btn140 {
	width: 140px;
	background: url('/files/images/button140x24_up.gif') top left no-repeat;
}
.inp_btn170 {
	width: 170px;
	background: url('/files/images/button170x24_up.gif') top left no-repeat;
}
.btn_arrow {
	color: #505050;
	display: block;
	padding-right: 15px;	
	cursor: pointer;	
}
.btn_arrow.down {
	background: url('/files/images/arrow_down.gif') 100% 6px no-repeat;
}
.btn_arrow.up {
	background: url('/files/images/arrow_up.gif') 100% 6px no-repeat;
}
.not_wrap {
	white-space: nowrap;
}
.btn_calend {
    padding: 0px;
    margin: 0px;
    border: none;
    height: 16px;
    width: 16px;
    cursor: pointer;
	font-size: 13px;
	font-family: arial,helvetica,sans-serif;
    background: url('/files/images/calend.png') top left no-repeat;
    -background: none; 
    -filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/files/images/calend.png', sizingMethod='crop');
    margin-left: 5px;
}
.link_btn {
	float: left;
	margin-right: 30px;
}
.frm_block {
	width: 100%;
	overflow: hidden;
	margin-top: 10px;
}
.bl_btn_check {
	position: relative;
	float: left;
	margin-right: 30px;
}
.bl_btn_check .inp_check {
	position: absolute;
	top: 6px;
	left: 6px;
	-top: 2px;
	-left: 2px;
}
/* таблица */
.list_users {
	margin: 0px;
	padding: 0px;
	width: 100%;
	border-top: 1px solid #6e7d98;
}
.list_users tr.odd {
	background-color: #DBE2F0;
}
.list_users th {
	vertical-align:top;
	text-align: center;
	border-right: 1px solid #6e7d98;
	border-bottom: 1px solid #6e7d98;
	background-color: #d9dee7;
	padding: 5px 5px;
	font-weight: normal;
}
.list_users th.first {
	border-left: 1px solid #6e7d98;
}
.list_users th.th_check,
.list_users td.td_check  {
	width: 62px;
}
.list_users th.th_time,
.list_users td.td_time {
	width: 80px;
}
.list_users th.th_date,
.list_users td.td_date {
	width: 80px;
}
.list_users td {
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	vertical-align: top;
	padding: 3px 5px;	
}
.list_users td.first {
	border-left: 1px solid #cccccc;
}
.list_users td.td_act {
	width: 30px;
	text-align: center;
}
.list_users td .inp_check {
	margin-right: 0px;
}
.list_users td.td_check {
	overflow: hidden;
}
.list_users td.td_check span {
	float: left;
}
.list_users td.td_check .inp_check {
	float: right;
	margin-top: 3px;
	-margin-top: 0px;
}
.list_users tr.act td {
	background-color: #849ac1;
	color: #ffffff;
}
.list_users tr.act td a {
	color: #ffffff;
}
.list_users th .th_head {
    margin-right: 15px;
}
/* edit kpp */
.txt_kpp {
	float: left;
	width: 200px;
}
.action_kpp {
	float: left;
}
.action_kpp .inp_check {
	margin-right: 5px;
}
.action_kpp span {
	margin-right: 10px;
}
.action_kpp .inp_txt {
	width: 220px;
}
.bl_key {
	width: 100%;
	overflow: hidden;
	margin-bottom: 3px;
}
.bl_key.last {
	margin-bottom: 0px;
}
.link_add_key {
	margin-left: 200px;
	width: 226px;
	text-align: right;
}
.min_trust {
	float: left;
}
.min_trust .inp_txt {
	width: 50px;
}
.min_trust span {
	margin-left: 5px;
}
/* поиск */
.search {
	float: right;
	width: 220px;
	position: relative;
}
.search .left {
	float: left;
	width: 3px;
	height: 24px;
	background: url('/files/images/search_left.png') top left no-repeat;
	-background: none;  
	-filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/files/images/search_left.png', sizingMethod='crop');		
}
.search .btn_search {
	float: right;
	width: 23px;
	height: 24px;
	background: url('/files/images/search_right.png') top left no-repeat;
	-background: none;  
	-filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/files/images/search_right.png', sizingMethod='crop');			
	padding: 0px;
	margin: 0px;
	border: none;
	cursor: pointer;
}
.search .center {
	width: 194px;
	height: 24px;
	background: url('/files/images/search_bg.gif') top left repeat-x;
	position: absolute;
	top: 0px;
	left: 3px;		
}
.search .txt_search {
	margin: 0px;
	padding: 3px 2px 2px 0px;
	border: none;
	font-size: 13px;
	font-family: arial,helvetica,sans-serif;
	color: #868686;
	background: none;
	width: 190px;
}
.info_important2 {
	color: #0088CC;
	font-weight: bold;
}
/**/
.dist_link {
	margin-top: 7px;
}
.inp_txt.err_forms {
	border-color: #ff0000;
}