{% load i18n %}
{% load templatetags %}
<script type="text/javascript">
function checkFormUser(id_form, funcs) {
	var form = $("#" + id_form);
	$.validator.addMethod("checkLogin", function(value, element) {
		var value = $(element).attr("value");
		var reg = /^[a-zA-Z0-9_]{3,30}$/;
		if (reg.test(value)) return true;
		return false;
	}, "{% trans "Логин может содержать только латинские буквы, цифры и знак подчёркивания" %}" );	
	$.validator.addMethod("checkUserName", function(value, element) {
		var value = $.trim($(element).attr("value"));
		if (value) {
			var reg = /^\s*[a-zA-Zа-яА-ЯёЁ-]+(\s+[a-zA-Zа-яА-ЯёЁ-]+)*\s*$/;
			if (reg.test(value)) return true;
			return false;
		}
		return true;
	}, "{% trans "Введено некорректное значение" %}" );		
	form.validate({
		rules: {
			first_name: {
				required: true,
				checkUserName: true
			},
			last_name: {
				required: true,
				checkUserName: true
			},
			middle_name: {
				checkUserName: true
			},
			username: {
				required: true,				
				minlength: 3,
				checkLogin: true		
			},
			password1: {
				required: true,
				minlength: 6,
				maxlength: 32
			},
			password2: {
				required: true,
				minlength: 6,
				maxlength: 32,
				equalTo: "#password1" 
			}
		},
		messages: {
			first_name: {
				required: "{% trans "Введите фамилию пользователя" %}",
				checkUserName: "{% trans "Введено некорректное значение" %}"
			},
			last_name: {
				required: "{% trans "Введите имя пользователя" %}",
				checkUserName: "{% trans "Введено некорректное значение" %}"
			},
			middle_name: {
				checkUserName: "{% trans "Введено некорректное значение" %}"
			},
			username: {
				required: "{% trans "Введите логин" %}",
				minlength: jQuery.format("{% trans "Логин должен содержать не менее 3 символов" %}"),
				checkLogin: "{% trans "Логин может содержать только латинские буквы, цифры и знак подчёркивания" %}"
			},
			password1: {
				required: "{% trans "Введите пароль" %}",
				minlength: jQuery.format("{% trans "Пароль должен содержать не менее 6 символов" %}")
			},		
			password2: {
				required: "{% trans "Введите пароль" %}",
				minlength: jQuery.format("{% trans "Пароль должен содержать не менее 6 символов" %}"),
				equalTo: "{% trans "Введённые пароли не совпадают" %}"
			}		
		},
		errorPlacement: function(error, element) {
			error.appendTo( element.parent().parent().prev() ); 
		},
		submitHandler: function() {
			if (funcs) funcs()
			else document.getElementById(id_form).submit();
		}
	});
}
</script>