{% extends "base_notab.html" %}
{% load i18n templatetags %}
{% block title %}{% trans 'Ошибка 500' %}{% endblock %}
{% block js_css %}
<link rel="stylesheet" type="text/css" href="/files/css/1280/main.css?v=v{{ version }}" />
<link rel="stylesheet" type="text/css" href="/files/css/po4/po4help.css?v=v{{ version }}" />
{% endblock %}
{% block subcontent %}
	<h2>{% trans "Ошибка" %} 500<input type="button" name="" value="" class="btn_quest" onClick="javascript: showHelp(this, '{% trans "контекстная_помощь_Ошибка 500" %}');" /></h2>
	{% include "current_time.html" %}
	<div class="page_error">{% trans "Ошибка" %} 500! {% trans "Извините, произошла внутренняя ошибка" %}. {% if was_error %}<a href ="/files/errors/lasterror.err" class="blue">{% trans "Подробнее" %}</a>{% endif %}</div>
{% endblock %}