{% load i18n %}
{% include "po4header.html" %}
{% load templatetags %}
<link rel="stylesheet" type="text/css" href="/files/css/learn.css?v=v{{ version }}" />
<!-- BEGIN: content-->
<div class="content" id="content">
	<div class="block_cont">
		<div class="block_cont_top">
			<div class="block_cont_bottom min_height">
				<!-- <h2>{% trans "Выбор камеры" %}<input type="button" name="" value="" class="btn_quest" onClick="javascript: showHelp(this, '{% trans "контекстная_помощь_Выбор_камеры_для_обучения" %}');" onMouseOver="javascript: buttonStatus(this, 'over');" onMouseOut="javascript: buttonStatus(this, 'up');" onMouseDown="javascript: buttonStatus(this, 'down');" onMouseUp="javascript: buttonStatus(this, 'over');" /></h2> -->
				<h2>
					{% if select_page == 'persons' %}
						<a href="/po4/persons/">{% trans "Персоны" %}</a> - <a href="/po4/anketaperson/{{ user.id }}/">{{ user.first_name }} {{ user.last_name }} {{ user.middle_name }}</a>
					{% endif %}
					
					{% if select_page == 'visitors' %}
						<a href="/po4/visitors/">{% trans "Карточки посещений" %}</a> - <a href="/po4/visitorslist/">{% trans "Посетители" %}</a> - <a href="/po4/anketavisitor/{{ user.id }}/">{{ user.first_name }} {{ user.last_name }} {{ user.middle_name }}</a>
					{% endif %}
					
					{% if select_page == 'staff' %}
						<a href="/po4/staff/">{% trans "Журнал проходов" %}</a> - <a href="/po4/stafflist/">{% trans "Сотрудиники" %}</a> - <a href="/po4/anketastaff/{{ user.id }}/">{{ user.first_name }} {{ user.last_name }} {{ user.middle_name }}</a>
					{% endif %}
						
					 - <a href="/po4/choose_camera/{{ select_page }}/{{ id }}/">{% trans "Выбор камеры" %}</a> - {% trans "Добавление фотографий с камеры" %}<input type="button" name="" value="" class="btn_quest" onClick="javascript: showHelp(this, '{% trans "контекстная_помощь_Добавление фотографий с камеры" %}');" onMouseOver="javascript: buttonStatus(this, 'over');" onMouseOut="javascript: buttonStatus(this, 'up');" onMouseDown="javascript: buttonStatus(this, 'down');" onMouseUp="javascript: buttonStatus(this, 'over');" /></h2>
					<input type="hidden" name="communicator" value="{{ communicator }}" id="communicator">
					<input type="hidden" name="numcamera" value="{{ numcamera }}">
					<input type="hidden" name="mode" value="{{ mode }}">
					
					<script type="text/javascript">
						function complete(){
							executeMethod('setModeScheduler', {{ numcamera }}, {{ mode }});
							{% if select_page == 'persons' %}location.replace('/po4/anketaperson/{{ user.id }}/');{% endif %}
							{% if select_page == 'visitors' %}location.replace('/po4/anketavisitor/{{ user.id }}/');{% endif %}
							{% if select_page == 'staff' %}location.replace('/po4/anketastaff/{{ user.id }}/');{% endif %} 
						}
					</script>
					
					<div class="frm_block">
						<a href="/po4/choose_camera/{{ select_page }}/{{ id }}/" onClick="javascript: executeMethod('setModeScheduler', {{ numcamera }}, {{ mode }});" class="link_btn" onMouseOver="javascript: linkStatus(this, 'over', 90);" onMouseOut="javascript: linkStatus(this, 'up', 90);" onMouseDown="javascript: linkStatus(this, 'down', 90);" onMouseUp="javascript: linkStatus(this, 'over', 90);" style="float:left;">{% trans "Назад" %}</a>
						<a 
							{% if select_page == 'persons' %}
								href="/po4/anketaperson/{{ user.id }}/"
							{% endif %}
							{% if select_page == 'visitors' %}
								href="/po4/anketavisitor/{{ user.id }}/"
							{% endif %}
							{% if select_page == 'staff' %}
								href="/po4/anketastaff/{{ user.id }}/"
							{% endif %} 
							onClick="javascript: executeMethod('setModeScheduler', {{ numcamera }}, {{ mode }});" class="link_btn" onMouseOver="javascript: linkStatus(this, 'over', 90);" onMouseOut="javascript: linkStatus(this, 'up', 90);" onMouseDown="javascript: linkStatus(this, 'down', 90);" onMouseUp="javascript: linkStatus(this, 'over', 90);" style="margin-left: 100px;">{% trans "Закончить" %}</a>
						
					</div>
					<div class="frm_block">
<script type="text/javascript">
var lang = readCookie('django_language');
document.write('<object id="flash-app" name="flash-app" width="980" height="628" data="/files/swf/learn/flash.swf" type="application/x-shockwave-flash">'+
		'<param value="/files/swf/learn/flash.swf" name="movie">'+
		'<param value="always" name="AllowScriptAccess">'+
		'<param value="all" name="allowNetworking">'+
		'<param value="true" name="allowFullScreen">'+
		'<param name="quality" value="best" />'+
		'<param name="bgcolor" value="#ffffff" />'+
		'<param name="wmode" value="opaque" />'+
		'<param name="FlashVars" value="person={{ person }}&locale='+lang+'&server={{ server }}&port={{ port }}&camera={{ numcamera }}&control_server={{ bal.host }}&control_port={{ bal.port }}&control_user={{ bal.user }}&control_password={{ bal.passwd }}&control_login={{ bal.login}}" />'+
		'<embed src="/files/swf/learn/flash.swf" FlashVars="person={{ person }}&locale='+lang+'&server={{ server }}&port={{ port }}&camera={{ numcamera }}&control_server={{ bal.host }}&control_port={{ bal.port }}&control_user={{ bal.user }}&control_password={{ bal.passwd }}&control_login={{ bal.login}}" wmode="opaque" quality="best" bgcolor="#ffffff" width="980" height="628" name="flash-app" align="middle" allowScriptAccess="sameDomain" allowFullScreen="true" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer" />'+
		'</object>');
</script>							
					</div>
					<div class="frm_block">
						<a href="/po4/choose_camera/{{ select_page }}/{{ person }}/" onClick="javascript: executeMethod('setModeScheduler', {{ numcamera }}, {{ mode }});" class="link_btn" onMouseOver="javascript: linkStatus(this, 'over', 90);" onMouseOut="javascript: linkStatus(this, 'up', 90);" onMouseDown="javascript: linkStatus(this, 'down', 90);" onMouseUp="javascript: linkStatus(this, 'over', 90);" style="float: left;">{% trans "Назад" %}</a>
						<a 
							{% if select_page == 'persons' %}
								href="/po4/anketaperson/{{ user.id }}/"
							{% endif %}
							{% if select_page == 'visitors' %}
								href="/po4/anketavisitor/{{ user.id }}/"
							{% endif %}
							{% if select_page == 'staff' %}
								href="/po4/anketastaff/{{ user.id }}/"
							{% endif %}  
							onClick="javascript: executeMethod('setModeScheduler', {{ numcamera }}, {{ mode }});" class="link_btn" onMouseOver="javascript: linkStatus(this, 'over', 90);" onMouseOut="javascript: linkStatus(this, 'up', 90);" onMouseDown="javascript: linkStatus(this, 'down', 90);" onMouseUp="javascript: linkStatus(this, 'over', 90);" style="margin-left: 100px;">{% trans "Закончить" %}</a>
						
					</div>						
				</form>			
			</div>
		</div>
	</div>
	<div class="clear"></div>   
</div>
<!-- END: content -->
</div>

{% include "po4footer.html" %}
{% include "execute.html" %}
<div class="info_photo_block2" id="block_fon" style="display: none;">&nbsp;</div>
{% include "window_help.html" %}

</body>
</html>			