.body1,
.block_contacts,
.block_cont,
.foot_menu_ver {
    width: 1250px;
}
.block_cont {
    background: url('/files/images/1280/bg_cont.gif') top left repeat-y;
}
.block_cont_top {
    background: url('/files/images/1280/bg_cont_top.gif') left top no-repeat;
}
.block_cont_top2 {
    background: url('/files/images/1280/bg_cont_top2.gif') left top no-repeat;
}
.block_cont_bottom {
    background: url('/files/images/1280/bg_cont_bottom.gif') left bottom no-repeat;
}
.current_time {
	position: absolute;
	top: 6px;
	right: 10px;
	background: url('/files/images/clock.gif') left 2px no-repeat;
	padding-left: 21px;
}