<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title>Likeness</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="language" content="en" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />

	<script src="http://www.like.test.gale.ru/files/facebook/js/swfobject.js" type="text/javascript"></script>
	
	<script type="text/javascript">
		/*var flashvars = {
			{% for p, v in flashvars %}
			"{{p}}": "{{v}}",
			{% endfor %}
			"foo":0
		};
		var params = {
			menu: "false",
			scale: "noScale",
			allowFullscreen: "true",
			allowScriptAccess: "always",
			bgcolor: "#FFFFFF"
		};
		var attributes = {
			id:"empty"
		};
		swfobject.embedSWF("http://www.like.test.gale.ru/files/facebook/empty.swf", "altContent", "760", "600", "10.0.0", "expressInstall.swf", flashvars, params, attributes);
		//swfobject.embedSWF("http://www.like.gale.ru/files/facebook/likeness.swf", "altContent", "760", "600", "10.0.0");*/
	</script>
	
	<style>
		html, body { height:100%; }
		body { margin:0; }
	</style>
	
	<!--<script src="http://static.ak.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php" type="text/javascript"></script>-->
	<script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php" type="text/javascript"></script>
	<script src="/files/facebook/js/facebook_permission_test.js" type="text/javascript"></script>
	
	<script type="text/javascript">
		var API_KEY = "3708b93597632f1ce53df7d352a8e11e";
		//FB.init(API_KEY, "/files/facebook/xd_receiver.htm");
		 
	    function FB_perm_result(value){
			if (value) {
				var flashvars = {
							{% for p, v in flashvars %}
							"{{p}}": "{{v}}",
							{% endfor %}
							"foo":0
						};
						var params = {
							menu: "false",
							scale: "noScale",
							allowFullscreen: "true",
							allowScriptAccess: "always",
							bgcolor: "#FFFFFF"
						};
						var attributes = {
							id:"empty"
						};
						swfobject.embedSWF("http://www.like.test.gale.ru/files/facebook/empty.swf", "altContent", "760", "600", "10.0.0", "expressInstall.swf", flashvars, params, attributes);
						//swfobject.embedSWF("http://www.like.gale.ru/files/facebook/likeness.swf", "altContent", "760", "600", "10.0.0");			
			} else {
				alert("Для того чтобы запустить приложение, разрешите ему указанные действия.");
			}
	        //alert(value ? "granted" : "not granted");
	    }
		var search = document.location.href;
		var i1 = search.indexOf('photo_upload');
		var i2 = search.indexOf('publish_stream');
		if ((i1 == -1) || (i2 == -1)) {
			FB_test_perm(API_KEY, "/files/facebook/xd_receiver.htm", "publish_stream,photo_upload", FB_perm_result);
		} else {
		   FB_perm_result(true);
		}
		 
	</script>	

</head>
<body>
	<div id="altContent">
		<!--<h1>Likeness</h1>
		<p>Alternative content</p>
		<p><a href="http://www.adobe.com/go/getflashplayer"><img 
			src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" 
			alt="Get Adobe Flash player" /></a></p>-->
	</div>
	<!--<div id="FB_HiddenIFrameContainer" style="display:block; position:absolute; left:100px; top:100px;"></div>-->
</body>
</html>


