.inp_btn140 {
	width: 140px;
	background: url('/files/images/button140x24_up.gif') top left no-repeat;
}
.inp_btn170 {
	width: 170px;
	background: url('/files/images/button170x24_up.gif') top left no-repeat;
}
.btn_calend {
	padding: 0px;
	margin: 0px;
	border: none;
	height: 16px;
	width: 16px;
	cursor: pointer;
	font: 13px Tahoma;
	background: url('/files/images/calend.png') top left no-repeat;
	-background: none;  
	-filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/files/images/calend.png', sizingMethod='crop');
	margin-left: 5px;
}
.frm_block {
	width: 100%;
	overflow: hidden;
	margin-top: 10px;
}
.bl_photo_btn {
	float: left;
	width: 170px;
}
.bl_photo_btn .bl_btn {
	margin-top: 3px;
}
.bl_photo_btn .photo_user {
	border: 1px solid #AAAAAA;
	padding: 5px;
	background-color: #eeeeee;
	text-align: center;
	margin-bottom: 10px;
}
.bl_photo_btn .photo_user .all_photo {
	text-align: center;
	margin-top: 5px;
}
.bl_photo_btn .photo_user .all_photo a {
	color: #0088CC;
	text-decoration: underline;
}
.bl_info_all {
	margin-left: 180px;
}

.no_photo_user {
	border: 1px solid #AAAAAA;
	padding: 5px;
	background-color: #eeeeee;
	margin-bottom: 10px;
}
.no_photo_user div {
	width: 120px;
	height: 80px;
	text-align: center;
	padding-top: 40px;
	margin: 0px auto;
}
.bl_info,
.bl_passport {
	margin-bottom: 10px;
	overflow:hidden;
	width:600px;
}
.bl_info .bl_txt,
.bl_passport .bl_txt {
	float: left;
	width: 220px;
}
.bl_info .bl_data,
.info_passport {
	margin-left: 225px;
}
.bl_info .inp_txt {
	width: 220px;
}
.bl_info .select {
	width: 226px;
}
.bl_info .inp_time {
	width: 50px; 
	margin-right: 10px;
}
.bl_info .inp_date {
	width: 90px; 
}
.bl_info .inp_money {
	width: 80px;
}
.bl_info .money {
	width: 100px;
}
.bl_passport span {
	margin-right: 10px;
}
.bl_passport .inp_txt {
	width: 53px;
	margin-left: 5px;
} 
.passport_field {
	margin-bottom: 5px;
}
