{% extends "admin/base_site.html" %}
{% load i18n admin_modify adminmedia %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="../../../jsi18n/"></script>
<script type="text/javascript" src="/files/js/AC_RunActiveContent.js"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />{% endblock %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../../">{{ app_label|capfirst|escape }}</a> &rsaquo; 
     {% if has_change_permission %}<a href="../">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %} &rsaquo; 
     {% if add %}{% trans "Add" %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endif %}{% endblock %}

{% block content %}<div id="content-main">
{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools"><li><a href="history/" class="historylink">{% trans "History" %}</a></li>
  {% if has_absolute_url %}<li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
  </ul>
{% endif %}{% endif %}
{% endblock %}
{%if change %}
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form">{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
{% if save_on_top %}{% submit_row %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
    <ul class="errorlist">{% for error in adminform.form.non_field_errors %}<li>{{ error }}</li>{% endfor %}</ul>
{% endif %}

{% for fieldset in adminform %}
  {% include "admin/includes/fieldset.html" %}
{% endfor %}

{% block after_field_sets %}{% endblock %}

{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}

{% block after_related_objects %}{% endblock %}

{% submit_row %}

{% if adminform and add %}
   <script type="text/javascript">document.getElementById("{{ adminform.first_field.auto_id }}").focus();</script>
{% endif %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

</div>
</form>
{% endif %}
{% if add %}
    <script type="text/javascript"> 
    AC_FL_RunContent(
    'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0',
    'width','1200',
    'height','1000',
    'src','/files/admin',
    'quality','high',
    'wmode', 'transparent',
    'useExpressInstall','true',
    'allowFullScreen','true',
    'flashvars', 
    ''
    );
    
    </script>	
{% endif %}
    <script type="text/javascript"> 

function byId(node) {
    return typeof node == 'string' ? document.getElementById(node) : node;
}

function addEvent(el, evType, handle) {
 var el = byId(el);
 if (el.addEventListener) {
   el.addEventListener(evType, handle, false);
 } else if (el.attachEvent) {
  // for ie
  el["e" + evType + handle] = handle;
  el[evType + handle] = function() {
   el["e" + evType + handle](window.event)
  }
  el.attachEvent("on" + evType, el[evType + handle]);
 }
}

    function getPersonSRC(val){
        if (!val){
            ePerson = document.getElementById("id_examplePerson");
            if (ePerson){val = ePerson.value;}
        }
        src = "/files/media/examples/flash/flash"+val+".png";
        return src;
    }

    function ePersonChange(evt){
        ePerson = document.getElementById("id_examplePerson");
        imgPerson = document.getElementById("img_examplePerson");
        if (ePerson && imgPerson){
            imgPerson.src = getPersonSRC(ePerson.value);
        }
    }
    
    ePerson = document.getElementById("id_examplePerson");
    if (ePerson){
        ePerson.parentNode.innerHTML = ePerson.parentNode.innerHTML+"<img id='img_examplePerson' src='"+getPersonSRC()+"' width=50 height=50 >";
    }
    addEvent('id_examplePerson', 'change', ePersonChange);

    </script>
</div>
{% endblock %}
