{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<meta name="description" content="" />
{% include "javascript.html" %}

<link rel="stylesheet" type="text/css" href="/files/css/main.css?v=v{{ version }}" />
<link rel="stylesheet" type="text/css" href="/files/css/page.css?v=v{{ version }}" />
<link rel="stylesheet" type="text/css" href="/files/css/windows.css?v=v{{ version }}" />
<link rel="stylesheet" type="text/css" href="/files/css/po3/po3wantedphotos.css?v=v{{ version }}" />

</head>
<body>
<div class="body1">
<!-- BEGIN: header -->
<div class="header">
	<div class="block_tm">
		<div class="block_rtm"></div>
		<div class="block_ltm"></div>
		<div class="logo"><a href="#"><img src="/files/images/logo.png" alt="" /></a></div>
		<ul class="right_menu">
			<li><a href="#">Выход</a></li>	
			<li><span>Пользователь</span></li>
		</ul>
		<ul class="top_menu">
			<li><a href="/po3/wanted/" class="tm_active">Разыскиваемые</a></li>
			<li><a href="/po3/guards/">Охранники</a></li>
			<li><a href="/po3/help/" class="last">Помощь</a></li>
		</ul>
	</div>
</div>
<!-- END: header -->

<!-- BEGIN: content-->
<div class="content">
	<div class="block_cont">
		<div class="block_cont_top">
			<div class="block_cont_bottom min_height">
				<h2><a href="/po3/wanted/">Разыскиваемые</a> - <a href="/po3/anketawanted/">Иванов Иван Иванович</a> - Все фотографии (3)<input type="button" id="img_1" name="" value="" class="btn_quest" onClick="javascript: showHelp(this, '');" onMouseOver="javascript: buttonStatus(this, 'over');" onMouseOut="javascript: buttonStatus(this, 'up');" onMouseDown="javascript: buttonStatus(this, 'down');" onMouseUp="javascript: buttonStatus(this, 'over');" /></h2>
				<form method="post" action="" name="">
					<div class="frm_block_link"><a href="/po3/anketawanted/" class="link_btn">Назад</a></div>					
					<div class="frm_block dist_link">
						<label for="choose_all"><input type="checkbox" name="" id="choose_all" value="" class="inp_check" />Выбрать всё на странице</label>
						<input type="button" name="" value="Удалить выделенные" class="inp_btn inp_btn170 dist_left" />
					</div>

					<!--<div class="block_navigation">
						<a href="#" class="page" title="Первая страница">Начало</a>
						<a href="#" class="page" title="Последняя страница">Конец</a>
						<a href="#" class="page" title="Предыдущая страница">&#8592;&nbsp;Назад</a>
						<a href="#" class="page" title="Следующая страница">Вперёд&nbsp;&#8594;</a>
						<span class="page active">1</span>
						<a href="#" class="page" title="">2</a>
						<a href="#" class="page" title="">3</a>
						<a href="#" class="page" title="">4</a>
						<a href="#" class="page" title="">5</a>
						<a href="#" class="page" title="">6</a>
						<span class="page" style="border: none;">...</span>
						<a href="#" class="page" title="">100</a>						
					</div>-->

					<ul class="list_photos">
						<li>
							<div class="block_photo"><img src="/files/images/image_test3.jpg" width="120px" height="120px" alt="" /></div>
							<input type="checkbox" name="" value="" class="inp_check" />
						</li>
						<li>
							<div class="block_photo"><img src="/files/images/image_test3.jpg" width="120px" height="120px" alt="" /></div>
							<input type="checkbox" name="" value="" class="inp_check" />
						</li>
						<li>
							<div class="block_photo"><img src="/files/images/image_test3.jpg" width="120px" height="120px" alt="" /></div>
							<input type="checkbox" name="" value="" class="inp_check" />
						</li>
					</ul>

					<!--<div class="block_navigation">
						<a href="#" class="page" title="Первая страница">Начало</a>
						<a href="#" class="page" title="Последняя страница">Конец</a>
						<a href="#" class="page" title="Предыдущая страница">&#8592;&nbsp;Назад</a>
						<a href="#" class="page" title="Следующая страница">Вперёд&nbsp;&#8594;</a>
						<span class="page active">1</span>
						<a href="#" class="page" title="">2</a>
						<a href="#" class="page" title="">3</a>
						<a href="#" class="page" title="">4</a>
						<a href="#" class="page" title="">5</a>
						<a href="#" class="page" title="">6</a>
						<span class="page" style="border: none;">...</span>
						<a href="#" class="page" title="">100</a>						
					</div>-->

					<div class="frm_block">
						<label for="choose_all"><input type="checkbox" name="" id="choose_all" value="" class="inp_check" />Выбрать всё на странице</label>
						<input type="button" name="" value="Удалить выделенные" class="inp_btn inp_btn170 dist_left" />
					</div>
					<div class="frm_block"><a href="/po3/anketawanted/" class="link_btn">Назад</a></div>					

				</form>
			</div>
		</div>
	</div>
	<div class="clear"></div>   
</div>
<!-- END: content -->
</div>

<!-- BEGIN: footer -->
<div class="footer">
	<div class="foot_menu_ver">
		<div class="version">Версия: 1.0.0</div>
		<ul class="bottom_menu">
			<li><a href="/po3/wanted/" class="first act">Разыскиваемые</a></li>
			<li><a href="/po3/guards/">Охранники</a></li>
			<li><a href="/po3/help/" class="last">Помощь</a></li>
		</ul>
	</div>
	<div class="contacts">
		<div class="block_contacts">
			Контакты:
			<ul class="list_contacts">
				<li>информация: <a href="mailto:info@smilart.com">info@smilart.com</a></li> 
				<li>техподдержка: <a href="mailto:support@smilart.com">support@smilart.com</a></li>
			</ul>
			<div class="copyright">Copyright &#169; 2010 "Простые решения". Все права защищены. <a href="http://www.smilart.com/">http://www.smilart.com/</a></div>
		</div>
	</div>	
</div>
<!-- END: footer -->

<div class="info_photo_block2" id="block_fon" style="display: none;">&nbsp;</div>

<div id="win_help" style="display: none;" class="winFloating">
	<div class="bodyWF">
		<div class="headWF">
			<div class="btnCloseWF"><input type="button" name="" value="" class="btn_wf_close" onClick="javascript: closeChangeWindow('win_help');" title="Закрыть окно" /></div>
			<div class="headWF_txt">Помощь</div>
		</div>
		<div class="contWF1"><div class="contWF_add" id="win_help_contWF"></div></div>
		<div class="footerWF">
			<input type="button" name="" value="ОК" class="btn_wf_blue" onClick="javascript: closeChangeWindow('win_help');" />	
		</div>
	</div>
</div>

</body>
</html>