.inp_btn170 {
	width: 170px;
	background: url('/files/images/button170x24_up.gif') top left no-repeat;
}
.btn_calend {
	padding: 0px;
	margin: 0px;
	border: none;
	height: 16px;
	width: 16px;
	cursor: pointer;
	font: 13px Tahoma;
	background: url('/files/images/calend.png') top left no-repeat;
	-background: none;  
	-filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/files/images/calend.png', sizingMethod='crop');
	margin-left: 5px;
}
.frm_block {
	width: 100%;
	overflow: hidden;
	margin-top: 10px;
}
/* anketa */
.bl_photo_btn {
	float: left;
	width: 170px;
}
.bl_photo_btn .photo_user {
	border: 1px solid #AAAAAA;
	padding: 5px;
	background-color: #eeeeee;
	text-align: center;
	margin-bottom: 10px;
}
.bl_photo_btn .photo_user .all_photo {
	text-align: center;
	margin-top: 5px;
}
.bl_photo_btn .photo_user .all_photo a {
	color: #0088CC;
	text-decoration: underline;
}
.bl_info_all {
	margin-left: 180px;
}
.bl_info {
	margin-bottom: 10px;
}
.bl_info .bl_txt {
	float: left;
	width: 200px;
}
.bl_info .inp_txt {
	width: 220px;
}
.bl_info .bl_phone {
	margin-bottom: 3px;
	margin-left: 160px;
}
.bl_info .bl_phone div {
	width: 100px;
	float: left;
}
.bl_info .bl_phone .inp_txt {
	width: 120px;
}
.bl_info .bl_phone.last {
	margin-bottom: 0px;
}
.bl_info .select {
	width: 226px;
}
.bl_info_btn {
	width: 380px;
	text-align: center;
}
/* menu settings */
.block_wanted {
	padding-top: 28px;
	position: relative;
}
.menu_vkl{
	width: 1000px;
	overflow: hidden;
	position: absolute;
	top: 0px;
	left: 0px;
}
.menu_vkl li{
	float: left;
	height: 29px;
	margin-right: 2px;	
	background: url('/files/images/mv_m.gif') top left repeat-x;
}
.menu_vkl li div{
	background: url('/files/images/mv_l.gif') top left no-repeat;
}
.menu_vkl li div div{
	background: url('/files/images/mv_r.gif') top right no-repeat;
	padding: 5px 12px 5px 12px;
}
.menu_vkl li a{
	font-weight: bold;
}
.menu_vkl li a:hover {
	text-decoration: none;
}
.menu_vkl .menu_vkl_act{
	background: url('/files/images/mv_act_m.gif') top left repeat-x;
}
.menu_vkl .menu_vkl_act div{
	background: url('/files/images/mv_act_l.gif') top left no-repeat;
}
.menu_vkl .menu_vkl_act div div{
	background: url('/files/images/mv_act_r.gif') top right no-repeat;
	padding: 5px 12px 5px 12px;
}
.menu_vkl .menu_vkl_act div div a{
	color: #107cb5;
}
.menu_vkl .menu_vkl_act a:hover {
	text-decoration: none;
	cursor: default;
}