.frm_block {
	width: 100%;
	overflow: hidden;
	margin-top: 10px;
}
.btn_arrow {
	padding: 0px;
	margin: 0px;
	border: none;
	cursor: pointer;
	font: 13px Tahoma;
	background: url('/files/images/arrow.png') top left no-repeat;
	-background: none;  
	-filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/files/images/arrow.png', sizingMethod='crop');	
	width: 12px; 
	height: 6px;
}
/* list */
.list_journal_head {
	margin: 0px;
	padding: 0px;
	width: 100%;
	border-top: 1px solid #6e7d98;
	border-left: 1px solid #6e7d98;	
}
.list_journal_head th {
	vertical-align: middle;
	text-align: center;
	border-right: 1px solid #6e7d98;
	border-bottom: 1px solid #6e7d98;
	background-color: #d9dee7;
	font-weight: normal;
	padding: 5px 5px;
}
.list_journal_head th .btn_arrow {
	margin-left: 5px;
	margin-top: 5px;
	float: right;
}
.list_journal_head th.th_time {
	width: 60px;
}
.list_journal_head th.th_event {
	width: 80px;
}
.list_journal_head th.th_kpp {
	width: 80px;
}
.list_journal_head th.th_name {
	width: 200px;
}
.list_users {
	width: 100%;
	padding: 0px;
	margin: 0px;
	border-left: 1px solid #cccccc;
}
.list_users tr.odd {
	background-color: #dbe2f0;
}
.list_users td {
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	vertical-align: top;
	padding: 3px 5px;
}
.list_users td.td_time {
	width: 60px;
}
.list_users td.td_event {
	width: 80px;
}
.list_users td.td_kpp {
	width: 80px;
}
.list_users td.td_name {
	width: 200px;
}
/* date */
.block_date {
	position: absolute;
	top: 10px;
	right: 10px;
}
.btn_calend {
	padding: 0px;
	margin: 0px;
	border: none;
	height: 16px;
	width: 16px;
	cursor: pointer;
	font: 13px Tahoma;
	background: url('/files/images/calend.png') top left no-repeat;
	-background: none;  
	-filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/files/images/calend.png', sizingMethod='crop');
	margin-left: 5px;
}
/* поиск */
.search {
	float: right;
	width: 220px;
	position: relative;
}
.search .left {
	float: left;
	width: 3px;
	height: 24px;
	background: url('/files/images/search_left.png') top left no-repeat;
	-background: none;  
	-filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/files/images/search_left.png', sizingMethod='crop');		
}
.search .btn_search {
	float: right;
	width: 23px;
	height: 24px;
	background: url('/files/images/search_right.png') top left no-repeat;
	-background: none;  
	-filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/files/images/search_right.png', sizingMethod='crop');			
	padding: 0px;
	margin: 0px;
	border: none;
	cursor: pointer;
}
.search .center {
	width: 194px;
	height: 24px;
	background: url('/files/images/search_bg.gif') top left repeat-x;
	position: absolute;
	top: 0px;
	left: 3px;		
}
.search .txt_search {
	margin: 0px;
	padding: 3px 2px 2px 0px;
	border: none;
	font: 13px Tahoma;
	color: #868686;
	background: none;
	width: 190px;
}