.inp_btn40 {
	width: 40px;
	background: url('/files/images/button40x24_up.png') top left no-repeat;
	-background: none;  
	-filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/files/images/button40x24_up.png', sizingMethod='crop');		
}
.inp_btn140 {
	width: 140px;
	background: url('/files/images/button140x24_up.gif') top left no-repeat;
}
.inp_btn170 {
	width: 170px;
	background: url('/files/images/button170x24_up.gif') top left no-repeat;
}
.frm_block {
	width: 100%;
	overflow: hidden;
	margin-top: 10px;
}
.bl_btn_check {
	position: relative;
	float: left;
	margin-right: 30px;
}
.bl_btn_check .inp_check {
	position: absolute;
	top: 6px;
	left: 6px;
	-top: 2px;
	-left: 2px;
}
/* таблица */
.list_users_head {
	margin: 0px;
	padding: 0px;
	width: 100%;
	border-top: 1px solid #6e7d98;
	border-left: 1px solid #6e7d98;	
}
.list_users_head th {
	vertical-align: middle;
	text-align: center;
	border-right: 1px solid #6e7d98;
	border-bottom: 1px solid #6e7d98;
	background-color: #d9dee7;
	font-weight: normal;
	padding: 5px 5px;
}
.list_users_head th.th_check,
.list_users td.td_check {
	width: 52px;
}
.list_users_head th.th_name,
.list_users td.td_name {
	width: 150px;
}
.list_users_head th.th_fio,
.list_users td.td_fio {
	width: 220px;
}

.list_users {
	width: 100%;
	padding: 0px;
	margin: 0px;
	border-left: 1px solid #cccccc;
}
.list_users tr.odd {
	background-color: #dbe2f0;
}
.list_users td {
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	vertical-align: top;
	padding: 3px 5px;
}
.list_users td a {
	color: #0088cc;
	text-decoration: underline;
}
.list_users td.td_check {
	overflow: hidden;
}
.list_users td.td_check span {
	float: left;
}
.list_users td.td_check .inp_check {
	float: right;
	margin-top: 3px;
	-margin-top: 0px;
}
/* edit kpp */
.txt_kpp {
	float: left;
	width: 200px;
}
.action_kpp {
	float: left;
}
.action_kpp .inp_check {
	margin-right: 5px;
}
.action_kpp span {
	margin-right: 10px;
}
.action_kpp .inp_txt {
	width: 220px;
}
.bl_key {
	width: 100%;
	overflow: hidden;
	margin-bottom: 3px;
}
.bl_key.last {
	margin-bottom: 0px;
}
.bl_key a {
	color: #0088CC;
	text-decoration: underline;
}
.link_add_key {
	margin-left: 200px;
	width: 226px;
	text-align: right;
}
.min_trust {
	float: left;
}
.min_trust .inp_txt {
	width: 50px;
}
.min_trust span {
	margin-left: 5px;
}
/* поиск */
.search {
	float: right;
	width: 220px;
	position: relative;
}
.search .left {
	float: left;
	width: 3px;
	height: 24px;
	background: url('/files/images/search_left.png') top left no-repeat;
	-background: none;  
	-filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/files/images/search_left.png', sizingMethod='crop');		
}
.search .btn_search {
	float: right;
	width: 23px;
	height: 24px;
	background: url('/files/images/search_right.png') top left no-repeat;
	-background: none;  
	-filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/files/images/search_right.png', sizingMethod='crop');			
	padding: 0px;
	margin: 0px;
	border: none;
	cursor: pointer;
}
.search .center {
	width: 194px;
	height: 24px;
	background: url('/files/images/search_bg.gif') top left repeat-x;
	position: absolute;
	top: 0px;
	left: 3px;		
}
.search .txt_search {
	margin: 0px;
	padding: 3px 2px 2px 0px;
	border: none;
	font: 13px Tahoma;
	color: #868686;
	background: none;
	width: 190px;
}