{% extends "base.html" %}
{% load i18n templatetags %}
{% block title %}{% if id %}{{ user.first_name }} {{ user.last_name }} {{ user.middle_name }}{% else %}{% trans 'Добавление персоны' %}{% endif %}{% endblock %}
{% block js_css %}
<link rel="stylesheet" type="text/css" href="/files/css/po4/po4menuvkl.css?v=v{{ version }}" />
<link rel="stylesheet" type="text/css" href="/files/css/po4/po4anketaperson.css?v=v{{ version }}" />
<script src="/files/js/anketa.js?v=v{{ version }}" type="text/javascript"></script>
<script type="text/javascript">
var WARNING = {
	"surname": "{% trans 'Фамилия содержит некорректные символы' %}",
	"name": "{% trans 'Имя содержит некорректные символы' %}",
	"patronymic": "{% trans 'Отчество содержит некорректные символы' %}"
}
function checkForm() {
	$.validator.addMethod("requiredUserName", function(value, element) {
		var surname = $("#first_name");
		var name = $("#last_name");
		if ((!surname.val()) && (!name.val())) {
			surname.addClass("err_forms");
			name.addClass("err_forms");
			return false;
		}
		$("#error_fio").html("");
		surname.removeClass("err_forms");
		name.removeClass("err_forms");		
		return true;
	}, "{% trans "Введите фамилию или имя" %}" );
	$.validator.addMethod("checkDateFormat", function(value, element) {
		var val = $(element).val();
		if (val) {
			var regexp = /^([0-9]{1,2})\.([0-9]{1,2})\.([0-9]{4})$/;
			if (regexp.test(val)) return true;
			return false;
		}
		return true;
	}, "{% trans 'Некорректный формат даты (ДД.ММ.ГГГГ)' %}" );	
	$.validator.addMethod("checkDate", function(value, element) {
		var val = $(element).val();
		if (val) {
			var regexp = /^([0-9]{1,2})\.([0-9]{1,2})\.([0-9]{4})$/;
			var arr = regexp.exec(val);		
			if (arr[1] < 32 && arr[1] > 0 && arr[2] < 13 && arr[2] >= 0 && arr[3] > 1900) {		    
				var dt = new Date(arr[3], arr[2]-1, arr[1]);		    
				if (dt && dt.getDate()==arr[1] && (dt.getMonth()+1)==arr[2] && dt.getFullYear()==arr[3]) return true;
			}
			return false;
		}
		return true;
	}, "{% trans 'Некорректное значение даты' %}" );
	$.validator.addMethod("checkWithCurrentDate", function(value, element) {
		var val = $(element).val();
		if (val) {
			var date_current = toYYYYMMDD(getCurrentDate());
			var date_enter = toYYYYMMDD(val);
			if (date_enter > date_current)  {
				return false;
			}
			return true;
		}
		return true;
	}, "{% trans 'Некорректное значение даты' %}" );		
	$.validator.addMethod("checkWithPassportDate", function(value, element) {
		var val_birthday = $(element).val();
		var val_passport = $("#passport_date").val();
		if (val_birthday && val_passport) {
			var date_birthday = toYYYYMMDD(val_birthday);
			var date_passport = toYYYYMMDD(val_passport);
			if (date_birthday > date_passport)  {
				return false;
			}
			return true;
		}
		return true;
	}, "{% trans 'Некорректное значение даты' %}" );
	$.validator.addMethod('integer', function(value, element) {
		var value = $(element).attr("value");
		var reg = /^[0-9]*$/;
		if (reg.test(value)) return true;
		return false;
	}, "{% trans 'Введено некорректное значение' %}"  );	
	$("#frm_persons").validate({
		rules: {
			first_name: {
				requiredUserName: true
			},
			last_name: {
				requiredUserName: true
			},
			passport_series: {
				integer: true,
				min: 0
			},
			passport_number: {
				integer: true,
				min: 0
			},
			passport_date: {
				checkDateFormat: true,
				checkDate: true,
				checkWithCurrentDate: true
			},
			birthday: {
				checkDateFormat: true,
				checkDate: true,
				checkWithCurrentDate: true,
				checkWithPassportDate: true
			}			
		},
		messages: {
			first_name: {
				requiredUserName: "{% trans "Введите фамилию или имя" %}"
			},
			last_name: {
				requiredUserName: "{% trans "Введите фамилию или имя" %}"
			},
			passport_series: {
				integer: "{% trans "Введено некорректное значение" %}",
				min: "{% trans "Введено некорректное значение" %}"
			},			
			passport_number: {
				integer: "{% trans "Введено некорректное значение" %}",
				min: "{% trans "Введено некорректное значение" %}"
			},
			passport_date: {
				checkDateFormat: "{% trans 'Некорректный формат введенной даты (ДД.ММ.ГГГГ)' %}",
				checkDate: "{% trans 'Введено некорректное значение' %}",
				checkWithCurrentDate: "{% trans 'Введено некорректное значение' %}"
			},
			birthday: {
				checkDateFormat: "{% trans 'Некорректный формат введенной даты (ДД.ММ.ГГГГ)' %}",
				checkDate: "{% trans 'Введено некорректное значение' %}",
				checkWithCurrentDate: "{% trans 'Введено некорректное значение' %}",
				checkWithPassportDate: "{% trans 'Введено некорректное значение' %}"
			}			
		},
		errorPlacement: function(error, element) {
			var id = $(element).attr("id");
			var block = element.parent().parent().prev()
			if (id && ((id == "first_name") || (id == "last_name"))) {
				block = $("#error_fio");
				block.html("");
			}
			if (id && ((id == "passport_series") || (id == "passport_number"))) {
				block_error.html("");
			}			
			error.appendTo(block);
		},
		submitHandler: function() {
			document.getElementById("frm_persons").submit();
		}
	});
}
// получить текущую дату
function getCurrentDate() {
	var today = new Date();
	var dd = today.getDate();
	var mm = today.getMonth()+1; 

	var yyyy = today.getFullYear();
	if (dd < 10){ dd='0' + dd } 
	if (mm < 10){ mm='0' + mm } 
	today = dd + '.' + mm + '.'+yyyy;
	return today;
}
function toYYYYMMDD(d) {
	var r = d.split(".");
	return parseInt(r[0], 10)*1+parseInt(r[1], 10)*100+parseInt(r[2], 10)*10000;
}
function getParameterByName(name)
{
  name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
  var regexS = "[\\?&]" + name + "=([^&#]*)";
  var regex = new RegExp(regexS);
  var results = regex.exec(window.location.search);
  if(results == null)
    return "";
  else
    return decodeURIComponent(results[1].replace(/\+/g, " "));
}
$(function() {
	checkForm();
	addFuncsNameValid();
	isSavedNameValid();	
	if (getParameterByName('save') == '1') $('#saveData').show();
});    
</script>
{% endblock %}
{% block content %}
	{% if select_page == "historychange" or select_sub_page == "historychange" %}
		<div class="block_settings">
			{% include "menu_journal.html" %}
			<div class="block_cont">
				<div class="block_cont_top2">
					<div class="block_cont_bottom min_height"> 
						{% include "content/anketaperson_content.html" %}
					</div>
				</div>
			</div>
		</div>		
	{% else %}
		<div class="block_cont">
			<div class="block_cont_top">
				<div class="block_cont_bottom min_height">
					{% include "content/anketaperson_content.html" %}
				</div>
			</div>
		</div>	
	{% endif %}
{% endblock %}
{% block windows %}{% include "content/windows.html" %}{% endblock %}