{% extends "base_tab.html" %}
{% load i18n templatetags %}
{% block title %}{% trans 'Настройка дисторсии' %} "{{ camera.info }}"{% endblock %}
{% block js_css %}
<link rel="stylesheet" type="text/css" href="/files/css/camera.css?v=v{{ version }}" />
<link rel="stylesheet" type="text/css" href="/files/css/po4/po4menuvkl.css?v=v{{ version }}" />
{% endblock %}
{% block submenu %}{% include "menu_insert.html" %}{% endblock %}
{% block subcontent %}
<h2><a href="/settings/">{% trans "Настройка сервера" %}</a> - <a href="/settings/{{ communicator }}/{{ numcamera}}/" onClick="executeMethod('setModeScheduler', {{ numcamera }}, {{ cameramode }});">{% trans "Настройка камеры" %} "{{ camera.info }}"</a> - {% trans "Настройка дисторсии" %}<input type="button" name="" value="" class="btn_quest" onClick="javascript: showHelp(this, '{% trans "контекстная_помощь_Настройки дисторсии" %}');" /></h2>
{% include "current_time.html" %}
{% if error %}
	<div class="info_important">
	{% if error == 'communicator' %}
		{% trans "Ошибка подключения! Коммуникатор" %} <b>{{ com.host }}</b> {% trans "недоступен. Пожалуйста, попробуйте подключиться позднее." %}
	{% else %}
		{% trans "Ошибка подключения! Камера с таким названием недоступна. Пожалуйста, попробуйте подключиться позднее" %}.
	{% endif %}
		<a href="/settings/{{ communicator }}/{{ numcamera }}/" class="link_btn_cancel"><span>{% trans "Назад" %}</span></a>
	</div>
{% else %}
<form method="POST" action="" name="">
	<input type="hidden" name="communicator" value="{{ communicator }}">
	<input type="hidden" name="numcamera" value="{{ numcamera }}">
	<input type="hidden" name="mode" value="{{ cameramode }}">
	<div class="frm_block">
		<input id="communicator" type="hidden" name="communucator" value="{{ communicator }}" >
		<a href="/settings/{{ communicator }}/{{ numcamera }}/" onClick="javascript: executeMethod('setModeScheduler', {{ numcamera }}, {{ cameramode }});" class="link_btn_cancel"><span>{% trans "Назад" %}</span></a>
	</div>
	<div class="block_flash" id="big_camera">
	<script type="text/javascript">
		var lang = "{{ LANGUAGE_CODE }}";
		var screen = screenSize();
		var menuH = 32;
		var infoW = 300;
		var panelW = 270;
		var dist = 10;
		var pageHeaderH = 140;							
		var maxH = screen.h - pageHeaderH;
		var maxW = {% if res_interface == "0" %}1230{% else %}1870{% endif %};
		var minH = 628;
		var minW = 980;							
		var flashWidth;
		var flashHeight;							
		var flashW = parseInt( (maxH - menuH) / 3 * 4 ) + dist + infoW + panelW;
		var flashH;
		if (flashW <= maxW) {
			flashWidth = flashW;
			flashHeight = maxH;
		} else {
			flashW = maxW - infoW - panelW - dist;
			flashH = parseInt( flashW / 4 * 3 ) + menuH;
			flashWidth = maxW;
			flashHeight = flashH;
		}
		if (flashHeight < minH) {
			flashHeight = minH;
		}
		if (flashWidth < minW) {
			flashWidth = minW;
		}
		$("#big_camera").css("width", flashWidth + 'px')
		document.write('<object id="flash-app" name="flash-app" width="'+flashWidth+'" height="'+flashHeight+'" data="/files/swf/distortion/flash.swf" type="application/x-shockwave-flash">'+
			'<param value="/files/swf/distortion/flash.swf" name="movie">'+
			'<param value="always" name="AllowScriptAccess">'+
			'<param value="all" name="allowNetworking">'+
			'<param value="true" name="allowFullScreen">'+
			'<param name="quality" value="best" />'+
			'<param name="bgcolor" value="#ffffff" />'+
			'<param name="wmode" value="opaque" />'+
			'<param name="FlashVars" value="locale='+lang+'&server={{ server }}&port={{ port }}&camera={{ numcamera }}&distortion=true&control_server={{ bal.host }}&control_port={{ bal.port }}&control_user={{ bal.user }}&control_password={{ bal.passwd }}&control_login={{ bal.login}}" />'+
			'<embed src="/files/swf/distortion/flash.swf" FlashVars="locale='+lang+'&server={{ server }}&port={{ port }}&camera=0&distortion=true&control_server={{ bal.host }}&control_port={{ bal.port }}&control_user={{ bal.user }}&control_password={{ bal.passwd }}&control_login={{ bal.login}}" wmode="opaque" quality="best" bgcolor="#ffffff" width="'+flashWidth+'" height="'+flashHeight+'" name="flash-app" align="middle" allowScriptAccess="sameDomain" allowFullScreen="true" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer" />'+
			'</object>');																	
	</script>
	</div>
	<div class="frm_block">
		<a href="/settings/{{ communicator }}/{{ numcamera }}/" onClick="javascript: executeMethod('setModeScheduler', {{ numcamera }}, {{ cameramode }});" class="link_btn_cancel"><span>{% trans "Назад" %}</span></a>
	</div>
</form>
{% include "execute.html" %}
{% endif %}
{% endblock %}