{% load i18n %}
{% load templatetags %}
<!-- BEGIN: footer -->
<div class="footer">
	<div class="foot_menu_ver">
		<div class="version">{% trans "Версия" %}: {{ version }}</div>
		<ul class="bottom_menu">
			
			{% if perms.user_perms.perm_view %}
				<li><a href="/ident/" {% if select_page == "ident" or select_page == 'video' or select_page == 'ident_js' %} class="act first" {% else %} class="first" {% endif %}>{% trans "Просмотр" %}</a></li>
			{% endif %}
			
			{% if perms.user_perms.perm_lists %}
				{% if show_recognition == '1' %}
					<li><a href="/lists/" {% if select_page == "lists" %} class="act" {% endif %}>{% trans "Списки" %}</a></li>
				{% endif %}
			{% endif %}
			
			{% if perms.user_perms.perm_logs %}
				<li><a href="{% if show_recognition == '1' %}/journal/{% else %}{% url journal-videoanalytics %}{% endif %}" {% if select_page == "journal" or select_page == "historychange" or select_page == "kpp" %} class="act" {% endif %}>{% trans "Журнал" %}</a></li>
			{% endif %}	
			
			{% if perms.user_perms.perm_settings %}
				<li><a href="{% url communicator_settings %}" {% if 'integration' in select_page or select_page == 'settings_interface' or select_page == 'anketauser' or select_page == 'users' or select_page == 'special' or select_page == "settings" or select_page == 'control_settings_users' or select_page == 'control_settings_settings' or select_page == 'control_settings_default' or select_page == "settings_vanalytics" or select_page == "settings_web_api" or select_page == "settings_web_api" %} class="act" {% endif %}>{% trans "Настройки" %}</a></li>
			{% endif %}
			
			{% if perms.user_perms.perm_monitoring %}
				<li><a href="{% url monitoring %}" {% if 'monitoring' in select_page %} class="act" {% endif %}>{% trans "Мониторинг" %}</a></li>
			{% endif %}
			
			{% if perms.user_perms.perm_maps %}{% if show_maps == '1' %}
				<li><a href="{% url maps %}" {% if 'maps' in select_page %} class="act" {% endif %}>{% trans "Карты" %}</a></li>
			{% endif %}{% endif %}
			
			{% if perms.user_perms.perm_videoarchive %}{% if show_videoarchive == '1' %}
				<li><a href="{% url archive %}" target="_blank">{% trans "Видеоархив" %}</a></li>
			{% endif %}{% endif %}
				
			<li><a href="/help/" {% if select_page == "help" %} class="last act"{% else %} class="last"{% endif %}>{% trans "Помощь" %}</a></li>
		</ul>
	</div>
	{% include "footer_contacts.html" %}
</div>
<!-- END: footer -->
{% include "window_help.html" %}
{% include "window_journal.html" %}
{% if not learn %}<script type="text/javascript">checkJournal();</script>{% endif %}
{% include "monitoring_checkmessage.html" %}
{% if select_page == "maps" or select_page == "settings_vanalytics" or select_page == "journal_videoanalytics" or select_page == "ident_js" %}
</body>
</html>
{% endif %}