{% load i18n %}
{% include "header.html" %}

<!-- BEGIN: content-->
<div class="content" id="content">
	<div class="block_cont">
		<div class="block_cont_top">
			<div class="block_cont_bottom min_height">
				<div class="process">{% trans "Внимание! Пожалуйста, подождите. Идёт предварительный анализ загруженной информации." %}<img src="/files/images/loader.gif" alt="" width="20px" height="20px" /></div>
			</div>
		</div>
	</div>
	<div class="clear"></div>   
</div>
<!-- END: content -->
</div>			

{% include "footer.html" %}

</body>
</html>