{% load i18n %}
{% include "header.html" %}
{% load templatetags %}
<link rel="stylesheet" type="text/css" href="/files/css/learn.css?v=v{{ version }}" />
<!-- BEGIN: content-->
<div class="content" id="content">
	<div class="block_cont">
		<div class="block_cont_top">
			<div class="block_cont_bottom min_height">
				<h2><a href="/learn/?person={{ person }}">{% trans "Обучение базы персон" %}</a> - <a href="/choose_camera/{{ person }}/">{% trans "Выбор камеры" %}</a> - {% trans "Обучение с камеры персоны" %}: {{ person }}<input type="button" name="" value="" class="btn_quest" onClick="javascript: showHelp(this, '{% trans "контекстная_помощь_Обучение базы с камеры" %}');" onMouseOver="javascript: buttonStatus(this, 'over');" onMouseOut="javascript: buttonStatus(this, 'up');" onMouseDown="javascript: buttonStatus(this, 'down');" onMouseUp="javascript: buttonStatus(this, 'over');" /></h2>
				{% include "current_time.html" %}
					<input type="hidden" name="communicator" value="{{ communicator }}">
					<input type="hidden" name="numcamera" value="{{ numcamera }}">
					<input type="hidden" name="mode" value="{{ mode }}">
					
					<div class="frm_block">
						<a href="/choose_camera/{{ person }}/" class="link_btn" onMouseOver="javascript: linkStatus(this, 'over', 90);" onMouseOut="javascript: linkStatus(this, 'up', 90);" onMouseDown="javascript: linkStatus(this, 'down', 90);" onMouseUp="javascript: linkStatus(this, 'over', 90);">{% trans "Назад" %}</a>
					</div>
					<div class="frm_block">
<script type="text/javascript">
var lang = readCookie('django_language');
if (flashVersion()) {
		document.write('<object id="flash-app" name="flash-app" width="980" height="628" data="/files/swf/learn/flash.swf" type="application/x-shockwave-flash">'+
		'<param value="/files/swf/learn/flash.swf" name="movie">'+
		'<param value="always" name="AllowScriptAccess">'+
		'<param value="all" name="allowNetworking">'+
		'<param value="true" name="allowFullScreen">'+
		'<param name="quality" value="best" />'+
		'<param name="bgcolor" value="#ffffff" />'+
		'<param name="wmode" value="opaque" />'+
		'<param name="FlashVars" value="person={{ person }}&locale='+lang+'&server={{ server }}&port={{ port }}&camera={{ numcamera }}&control_server={{ bal.host }}&control_port={{ bal.port }}&control_user={{ bal.user }}&control_password={{ bal.passwd }}&control_login={{ bal.login}}" />'+
		'<embed src="/files/swf/learn/flash.swf" FlashVars="person={{ person }}&locale='+lang+'&server={{ server }}&port={{ port }}&camera={{ numcamera }}&control_server={{ bal.host }}&control_port={{ bal.port }}&control_user={{ bal.user }}&control_password={{ bal.passwd }}&control_login={{ bal.login}}" wmode="opaque" quality="best" bgcolor="#ffffff" width="980" height="628" name="flash-app" align="middle" allowScriptAccess="sameDomain" allowFullScreen="true" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer" />'+
		'</object>');
} else {
	document.write('<div class="noFlash">{% trans "У Вас отсутствует или установлена старая версия flash плеера. Новую версию плеера можно скачать" %} <a target="_blank" href="http://get.adobe.com/flashplayer/">{% trans "здесь" %}</a></div>');
} 
</script>							
					</div>
					<div class="frm_block">
						<a href="/choose_camera/{{ person }}/" class="link_btn" onMouseOver="javascript: linkStatus(this, 'over', 90);" onMouseOut="javascript: linkStatus(this, 'up', 90);" onMouseDown="javascript: linkStatus(this, 'down', 90);" onMouseUp="javascript: linkStatus(this, 'over', 90);">{% trans "Назад" %}</a>
					</div>						
				</form>			
			</div>
		</div>
	</div>
	<div class="clear"></div>   
</div>
<!-- END: content -->
</div>

{% include "footer.html" %}

<div class="info_photo_block2" id="block_fon" style="display: none;">&nbsp;</div>
{% include "window_help.html" %}

</body>
</html>			