{% load i18n %}
{% load templatetags %}            
<table cellpadding="0px" cellspacing="0px" class="table_journal">
    <tr>
        <td class="photo_dist_right">
            <div class="photo_head">Фото с камеры</div>
            <div class="photo_dist_bottom" id="photo_cam">
                <a href="#"><img src="/files/images/image_test4.jpg" width="240" height="240" /></a>
            </div>
            <div class="photo_info"><div class="photo_param koeff_ident short_descr" title="Коэффициент похожести">0.42</div><div class="photo_param time short_descr" title="Время">13:00:09</div> <div class="photo_param eyes short_descr" title="Расстояние между глаз">83,1</div> <div class="photo_param">284x284</div></div>
        </td>
        <td>
            <div class="photo_head">Фото из базы</div>
            <div class="photo_dist_bottom">
                <img src="/files/images/image_test3.jpg" width="240" height="240" />
            </div>
            <div class="photo_info"><div class="photo_param">284x284</div></div>                        
        </td>
    </tr>
</table>