{% load i18n %}
{% load templatetags %}
<div id="easyTooltip_camera" class="tooltip_camera" style="display: none;"></div>
<div class="indicator" id="indicator" style="display: none;">
    <img src="/files/images/loader.gif" alt="loader" width="20px" height="20px" />
    <div>{% trans "Пожалуйста, подождите" %}...</div>
</div>
<div id="win_mess" style="display: none;" class="winFloating">
	<div class="bodyWF">
		<div class="headWF">
			<div class="btnCloseWF"><input type="button" name="" value="" class="btn_wf_close" onClick="javascript: closeChangeWindow('win_mess');" /></div>
			<div class="headWF_txt">{% trans "Предупреждение" %}</div>
		</div>
		<div class="contWF" id="win_mess_contWF"></div>
		<div class="footerWF">
			<input type="button" name="" value="{% trans "ОК" %}" class="btn_wf_blue" onClick="javascript: closeChangeWindow('win_mess');" />	
		</div>
	</div>
</div>
<div id="win_add" style="display: none;" class="winFloating">
	<div class="bodyWF">
		<div class="headWF">
			<div class="btnCloseWF"><input type="button" name="" value="" class="btn_wf_close" onClick="javascript: closeChangeWindow('win_add');" /></div>
			<div class="headWF_txt">{% trans "Добавление камеры" %}</div>
		</div>
		<form method="" action="" id="add_camera_form" name="" class="frm_add_cam">
			<div class="contWF" id="win_add_contWF">
				<div class="bl_cam_add">
					<label for="communicators-select" class="cam_txt">{% trans "Коммуникатор" %}: </label>
					<select id="communicators-select" name="communicators-select" class="select">
						{% for com in communicators %}
						<option value="{{ com.id }}" >{{ com.host }}:{{ com.port }}</option>
						{% endfor %}
					</select>
				</div>			
				<div class="bl_cam_add">
					<label for="types_cameras" class="cam_txt">{% trans "Модель камеры" %}: </label>
					<select id="types_cameras" name="atype" class="select" onChange="javascript: selectTypesCamera(this);">
						<option value="AV2000" selected="selected">Arecont Vision</option>
						<option value="AXIS">AXIS</option>
						<option value="BEWARD">BEWARD</option>
						<option value="GOAL">GOAL</option>
						<option value="URL">URL</option>
						<option value="SONY">SONY</option>
						<option value="MOBOTIX">MOBOTIX</option>
						<option value="PANASONIC">PANASONIC</option>
						<option value="JVC">JVC</option>
						<option value="DALLMEIER">DALLMEIER</option>
					</select>
				</div>
				<div class="bl_cam_add" id="bl_aip">
					<label for="aip" class="cam_txt">IP-{% trans "адрес" %}: </label>
					<input type="text" name="aip" id="aip" value="192.168.0.15" class="inp_txt" />
				</div>
				<div class="bl_cam_add" id="bl_abitrate">
					<div class="cam_txt">Bitrate: </div>
					<input type="text" name="abitrate" id="abitrate" value="" class="inp_txt" />
				</div>
				<div class="bl_cam_add" id="bl_afps">
					<div class="cam_txt">Fps: </div>
					<input type="text" name="afps" id="afps" value="" class="inp_txt" />
				</div>
				<div class="bl_cam_add" id="bl_aurl">
					<label for="aurl" class="cam_txt">URL: </label>
					<input type="text" name="aurl" id="aurl" value="http://" class="inp_txt" />
				</div>
				<div class="bl_cam_add" id="bl_amac" style="display: block;">
					<label for="amac" class="cam_txt">MAC-{% trans "адрес" %}: </label>
					<input type="text" name="amac" id="amac" value="000000000000" class="inp_txt" />
				</div>
				<div class="bl_cam_add" id="bl_aport" style="display: none;">
					<label for="aport" class="cam_txt">{% trans "Порт" %}: </label>
					<input type="text" name="aport" id="aport" value="80" class="inp_txt inp_port" maxlength="4" />
				</div>
				<div class="bl_cam_add" id="bl_anum" style="display: none;">
					<label for="anum" class="cam_txt">{% trans "Номер камеры" %}: </label>
					<input type="text" name="anum" id="anum" value="" class="inp_txt" />
				</div>
				<div class="bl_cam_add" id="bl_ause_r" style="display: none;">
					<label for="ause_r" class="cam_txt">{% trans "Пользователь" %}: </label>
					<input type="text" name="ause_r" id="ause_r" value="" class="inp_txt" />
				</div>
				<div class="bl_cam_add" id="bl_apas_s" style="display: none;">
					<label for="apas_s" class="cam_txt">{% trans "Пароль" %}: </label>
					<input type="text" name="apas_s" id="apas_s" value="" class="inp_txt" />
				</div>
				<div class="bl_cam_add" id="bl_auid" style="display: none;">
					<label for="auid" class="cam_txt">{% trans "UID" %}: </label>
					<input type="text" name="auid" id="auid" value="" class="inp_txt" />
				</div>			
			</div>
		</form>			
		<div class="footerWF">	
			<input type="button" name="" value='{% trans "Добавить" %}' class="btn_wf_blue" onClick="javascript: checkAddCamera();" />
			<input type="button" name="" value='{% trans "Отмена" %}' class="btn_wf" onClick="javascript: closeChangeWindow('win_add');" />	
		</div>
	</div>
</div>
<div id="win_add_message" style="display: none;" class="winFloating">
	<div class="bodyWF">
		<div class="headWF">
			<div class="btnCloseWF"><input type="button" name="" value="" class="btn_wf_close" onClick="javascript: closeChangeWindow('win_add_message');" title="{% trans "Закрыть окно" %}" /></div>
			<div class="headWF_txt">{% trans "Подтверждение добавления камеры" %}</div>
		</div>
		<div class="contWF" id="win_add_message_contWF">&nbsp;</div>
		<div class="footerWF">
			<input type="button" name="" value="{% trans "Добавить" %}" class="btn_wf_blue" onClick="javascript: addCameraOK();" />
			<input type="button" name="" value="{% trans "Отмена" %}" class="btn_wf" onClick="javascript: closeChangeWindow('win_add_message');" />			
		</div>
	</div>
</div>
<div id="win_del" style="display: none;" class="winFloating">
	<div class="bodyWF">
		<div class="headWF">
			<div class="btnCloseWF"><input type="button" name="" value="" class="btn_wf_close" onClick="javascript: closeChangeWindow('win_del');" title="{% trans "Закрыть окно" %}" /></div>
			<div class="headWF_txt">{% trans "Удаление камеры" %}</div>
		</div>
		<div class="contWF" id="win_del_contWF">&nbsp;</div>
		<div class="footerWF">
			<input type="button" name="" value="{% trans "Удалить" %}" class="btn_wf_blue" onClick="javascript: closeChangeWindow('win_del'); okCameradelete();" />
			<input type="button" name="" value="{% trans "Отмена" %}" class="btn_wf" onClick="javascript: closeChangeWindow('win_del');" />			
		</div>
	</div>
</div>
<div id="win_alias" style="display: none;" class="winFloating">
	<div class="bodyWF">
		<div class="headWF">
			<div class="btnCloseWF"><input type="button" name="" value="" class="btn_wf_close" onClick="javascript: closeChangeWindow('win_alias');" title="{% trans "Закрыть окно" %}" /></div>
			<div class="headWF_txt">{% trans "Добавление псевдонима" %}</div>
		</div>
		<div class="contWF" id="win_alias_contWF">
				<div class="dist_bottom">{% trans "Камера" %} <span id="alias"></span>.</div>
				<div class="block_error" style="margin-left: 148px;" style="display: none;"></div>
				<div>{% trans "Псевдоним" %}: <input type="text" name="" value="" class="inp_txt dist_left" style="width: 200px;" id="alias_cinp" onKeyPress="javascript: sendEnter(event)" maxlength="128" />
					 <input type="hidden" id="alias_cid" value="0" />
				</div>
		</div>
		<div class="footerWF">
			<input type="button" name="" value="{% trans "Добавить" %}" class="btn_wf_blue" onClick="javascript: closeChangeWindow('win_alias'); addAliasToCamera();" />
			<input type="button" name="" value="{% trans "Отмена" %}" class="btn_wf" onClick="javascript: closeChangeWindow('win_alias');" />			
		</div>
	</div>
</div>