.req {
	color: #ff0000;
	font-weight: bold;
}
.inp_check {
	margin-right: 5px;
}
.btn_save {
	color: #ffffff;
	width: 90px;
	background: url("/files/images/btn_blue_90.png") top left no-repeat;
}
.btn_cancel {
	width: 90px;
	background: url("/files/images/button90x24_up.gif") top left no-repeat;
}
.bl_head {
	font-weight: bold;
	margin: 5px 0px;
}
.bl_param {
	margin-top: 5px;
	padding: 5px 0px;
}
.bl_param.no_dist_top {
	margin-top: 0px;
}
.bl_param .bl_txt,
.bl_param .bl_txt2 {
	float: left;
	width: 170px;
	text-align: right;
	margin-top: 2px;
}
.bl_param .bl_txt2 {
	width: 90px;
	text-align: left;
	margin-right: 10px;
	white-space: nowrap;
}
.bl_param .bl_txt.no_dist_top,
.bl_param .bl_txt2.no_dist_top {
	margin-top: 0px;
}
.bl_param .bl_enter {
	margin-left: 180px;
}
.bl_param .bl_enter2 {
	margin-left: 100px;
}
.bl_param .bl_enter .inp_txt {
	width: 194px;
}
.bl_param .bl_enter .bl_help {
	margin-left: 10px;
}
.bl_param .bl_enter .select_signal {
	float: left;
	margin-right: 10px;
	width: 200px;
}
.bl_param .bl_enter .select_repeat {
	width: 412px;
}
.bl_param .bl_enter .inp_name {
	width: 394px;
}
.bl_param .bl_enter .bl_repeat {
	float: left;
	width: 120px;
	margin-top: 2px;
	margin-bottom: 5px;
}
.bl_param .bl_enter .bl_date,
.bl_param .bl_enter .bl_time {
	float: left;
	background-color: #ffffff;
	/*moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #cccccc;
	border-top-color: #aaaaaa;
	border-left-color: #aaaaaa;
	border: 1px solid #aaaaaa;*/
	width: 100px;
	position: relative;
	margin-right: 5px;
}
.bl_param .bl_enter .bl_date .inp_txt {
	width: 95px;
}
.bl_param .bl_enter .bl_time {
	width: 90px;
	border: 0px;
}
.bl_param .bl_enter .bl_date .btn_calend {
	padding: 0px;
	margin: 0px;
	border: none;
	height: 16px;
	width: 16px;
	cursor: pointer;
	font: 13px Tahoma;
	background: url('/files/images/calend.png') top left no-repeat;
	-background: none;  
	-filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/files/images/calend.png', sizingMethod='crop');
	vertical-align: top;
	position: absolute;
	/*top: 3px;
	right: 3px;*/
	top: 3px;
	right: 1px;
}
.bl_param .bl_enter .bl_time {
	width: 60px;
}
.bl_param .bl_enter .bl_time .inp_txt {
	width: 50px;
}
.bl_param .bl_enter .bl_delim_date {
	float: left;
	margin: 12px 15px 0px 5px;
	height: 1px;
	width: 10px;
	background-color: #666666;
}
.bl_param .bl_enter .bl_all_day {
	float: left;
	margin-left: 5px;
	margin-top: 5px;
}
.bl_param .bl_enter .bl_arrow {
	float: left;
	margin-right: 10px;
}
.bl_param .bl_enter .check_repeat {
	float: left; 
	margin-top: 3px;
}
.bl_param .bl_enter .bl_duration {
	font-size: 90%;
}
.bl_param .bl_enter .bl_param_inner {
	margin-top: 5px;
}
.bl_param .bl_enter .bl_video {
	float: left;
}
.bl_param .bl_enter .select_video {
	width: 240px;
	margin-right: 10px;
	float: left;
}
.bl_param .bl_enter .inp_video {
	width: 40px;
}
.bl_param .bl_enter .inp_size {
	width: 50px;
	margin-left: 5px;
	margin-right: 3px;
}
.bl_param .bl_enter .inp_time {
	width: 50px;
}
.bl_param .bl_enter .sel_time {
	width: 60px;
	margin-left: 5px;
}
.bl_param .bl_enter .check_repeat_date {
	float: left;
	margin-right: 5px;
	margin-top: 4px;
}
.bl_param .bl_enter .bl_time_other {
	float: left;
}
.bl_param .bl_enter .bl_time_other  label {
	float: left;
	margin-right: 5px;
}
.bl_param .inp_over {
	border-color: #989898;
	box-shadow: inset 0px 1px 3px rgba(122,122,122,0.4);
}
.bl_param .inp_txt_dis {
	background-color: #f2f2f2;
	color: #999999;
	cursor: default;	
}
.bl_btn {
	margin-top: 10px;
}
.bl_param .bl_error {
	color: #ff0000;
	margin-left: 180px;
}
.bl_param .inp_txt.err_forms,
.bl_param .select.err_forms {
	border-color: #ff0000;
	box-shadow: inset 0px 1px 3px rgba(255,0,0,0.2);
}
.bl_delim {
	border-top: 1px dotted #cccccc;
	margin-bottom: 5px;
	margin-top: 5px;
	height: 1%;
	line-height: 0;
}
.link_more_set {
	padding-left: 12px;
	background: url("/files/images/arrowB_left.gif") left 50% no-repeat;
	color: #0088CC;
}
.link_more_set.lms_down {
	background: url("/files/images/arrowB_bottom.gif") left 50% no-repeat;
}
/* list cameras */
.list_cameras li {
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
	border-radius: 3px;
	moz-border-radius: 3px;
	width: 202px;
	overflow: hidden;
	position: relative;
	background-color: #f2f2f2;
	border: 1px solid #aaaaaa;
	font-weight: nowrap;
}
.list_cameras li .inp_check {
	margin-top: 4px;
	margin-left: 5px;
	float: left;
}
.list_cameras li label,
.list_cameras li span {
	display: block;
	padding: 1px 5px 1px 15px;	
}
.list_cameras li label {
	background: url("/files/images/camera.png") 184px 4px no-repeat;
}
.list_cameras li.lc_over {
	border-color: #666666;
}
.list_cameras li.lc_act {
	background-color: #ffffff;
	border: 1px solid #666666;
	box-shadow: 1px 1px 2px rgba(122,122,122,0.5);
}
/*.list_cameras li.lc_dis {
	border-color: #f2f2f2;
}*/
.list_cameras li.lc_dis,
.list_cameras li.lc_del {
	border-color: #cccccc;
}
.list_cameras li.lc_dis.lc_over,
.list_cameras li.lc_dis.lc_act {
	border-color: #666666;
}
.list_cameras li.lc_dis label {
	background: url("/files/images/camera_dis.png") 184px 4px no-repeat;
}
.list_cameras li.lc_del span {
	background: url("/files/images/camera_del.png") 184px 4px no-repeat;
	color: #999999;
}
/* video */
.video {
	max-width: 320px;
	max-height: 320px;
	padding: 5px;
	background-color: #ffffff;
	border: 1px solid #999999;
	display: none;
	position: absolute;
	z-index: 3101;
	border-radius: 3px;
	moz-border-radius: 3px;
	box-shadow: 2px 2px 5px rgba(122,122,122,0.3);
	overflow: hidden;
	word-wrap: break-word;
}
.video .indicator_camera {
	width: 200px;
	height: 150px;
	background: url("/files/images/loader.gif") center 40px no-repeat #ffffff;
}
.video .indicator_camera div {
	text-align: center;
	padding-top: 78px;
}
.video .camera {
	text-align: center;
	font-weight: bold;
}
/* list days */
.list_days {
	float: left;
	margin-right: 5px;
	padding-bottom: 3px;
}
.list_days.no_dist_top {
	padding-bottom: 0px;
}
.list_days li {
	float: left;
	padding: 3px 5px;
	margin-right: 5px;
	border: 1px solid #ffffff;
	cursor: default;
	border-radius: 3px;
	moz-border-radius: 3px;	
	line-height: 1;
	background-color: #F2F2F2;
}
.list_days li.last {
	margin-right: 0px;
}
.list_days li.holiday_day {
	color: #FF6600;
	border: 1px solid #FF6600;
}
.list_days li.noact_day {
	color: #cccccc;
	border: 1px solid #cccccc;
}
.list_days li.change_day {
	border: 1px solid #cccccc;
}
.list_days li .inp_check {
	margin-right: 5px;
	vertical-align: middle;
}
.list_days li label {
	vertical-align: middle;
}
.list_days li.over_day {
	border-color: #989898;
}
.list_days li.act_day {
	border: 1px solid #989898;
	box-shadow: 1px 1px 2px rgba(122,122,122,0.5);
	background-color: #ffffff;
}
/* detectors */
.list_detectors {
	padding-bottom: 3px;
	margin-top: 5px;
}
.list_detectors li {
	float: left;
}
.list_detectors li {
	margin-right: 5px;
	padding: 2px 5px;
	border-radius: 3px;
	moz-border-radius: 3px;
	border: 1px solid #989898;
	background-color: #ffffff;
	box-shadow: 1px 1px 2px rgba(122,122,122,0.5);
	position: relative;
}
.list_detectors li .inp_check {
	float: left;
	margin-right: 5px;
	margin-top: 3px;
}
.list_detectors li a {
	width: 20px;
	height: 20px;
	display: block;
	text-decoration: none;
	cursor: pointer;
	float: left;
}
.list_detectors li a:hover {
	text-decoration: none;
}
.list_detectors li .det_loader {
	width: 20px;
	height: 20px;
	background: url("/files/images/loader20x20.gif") top left no-repeat;
}
.list_detectors li a.det_fire {
	background: url("/files/images/icons_detectors.png") -240px 0px no-repeat;
}
.list_detectors li a.det_smoke {
	background: url("/files/images/icons_detectors.png") -200px 0px no-repeat;
}
.list_detectors li a.det_things {
	background: url("/files/images/icons_detectors.png") -160px 0px no-repeat;
}
.list_detectors li a.det_stream {
	background: url("/files/images/icons_detectors.png") -120px 0px no-repeat;
}
.list_detectors li a.det_face {
	background: url("/files/images/icons_detectors.png") 0px 0px no-repeat;
}
.list_detectors li a.det_facedetect {
	background: url("/files/images/icons_detectors.png") 0px 0px no-repeat;
}
.list_detectors li a.det_person {
	background: url("/files/images/icons_detectors.png") -40px 0px no-repeat;
}
.list_detectors li a.det_identification {
	background: url("/files/images/icons_detectors.png") -40px 0px no-repeat;
}
.list_detectors li a.det_people {
	background: url("/files/images/icons_detectors.png") -80px 0px no-repeat;
}
.list_detectors li a.det_explosion {
	background: url("/files/images/icons_detectors.png") -280px 0px no-repeat;
}
.list_detectors li a.det_motion {
	background: url("/files/images/icons_detectors.png") -440px 0px no-repeat;
}
.list_detectors li.det_noact,
.list_detectors li.det_not_avail {
	border-color: #d6d6d6;
	box-shadow: none;
}
.list_detectors li.det_noact a.det_fire {
	background: url("/files/images/icons_detectors.png") -260px 0px no-repeat;
}
.list_detectors li.det_noact a.det_smoke {
	background: url("/files/images/icons_detectors.png") -220px 0px no-repeat;
}
.list_detectors li.det_noact a.det_things {
	background: url("/files/images/icons_detectors.png") -180px 0px no-repeat;
}
.list_detectors li.det_noact a.det_stream {
	background: url("/files/images/icons_detectors.png") -140px 0px no-repeat;
}
.list_detectors li.det_noact a.det_face {
	background: url("/files/images/icons_detectors.png") -20px 0px no-repeat;
}
.list_detectors li.det_noact a.det_facedetect {
	background: url("/files/images/icons_detectors.png") -20px 0px no-repeat;
}
.list_detectors li.det_noact a.det_person {
	background: url("/files/images/icons_detectors.png") -60px 0px no-repeat;
}
.list_detectors li.det_noact a.det_identification {
	background: url("/files/images/icons_detectors.png") -60px 0px no-repeat;
}
.list_detectors li.det_noact a.det_people {
	background: url("/files/images/icons_detectors.png") -100px 0px no-repeat;
}
.list_detectors li.det_noact a.det_explosion {
	background: url("/files/images/icons_detectors.png") -300px 0px no-repeat;
}
.list_detectors li.det_noact a.det_motion {
	background: url("/files/images/icons_detectors.png") -460px 0px no-repeat;
}
.list_detectors li.det_not_avail a.det_fire {
	background: url("/files/images/icons_detectors.png") -340px 0px no-repeat;
}
.list_detectors li.det_not_avail a.det_smoke {
	background: url("/files/images/icons_detectors.png") -360px 0px no-repeat;
}
.list_detectors li.det_not_avail a.det_things {
	background: url("/files/images/icons_detectors.png") -400px 0px no-repeat;
}
.list_detectors li.det_not_avail a.det_stream {
	background: url("/files/images/icons_detectors.png") -140px 0px no-repeat;
}
.list_detectors li.det_not_avail a.det_people {
	background: url("/files/images/icons_detectors.png") -420px 0px no-repeat;
}
.list_detectors li.det_not_avail a.det_explosion {
	background: url("/files/images/icons_detectors.png") -320px 0px no-repeat;
}
.list_detectors li.det_not_avail a.det_motion {
	background: url("/files/images/icons_detectors.png") -480px 0px no-repeat;
}
.list_detectors_on li a,
.list_detectors li.det_not_avail a {
	cursor: default;
}
.list_detectors li.det_over {
	border-color: #989898;
}