.btn_calend {
    padding: 0px;
    margin: 0px;
    border: none;
    height: 16px;
    width: 16px;
    cursor: pointer;
    font: 13px Tahoma;
    background: url('/files/images/calend.png') top left no-repeat;
    -background: none;  
    -filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/files/images/calend.png', sizingMethod='crop');
    margin-left: 2px;
}
.inp_btn120 {
    width: 120px;
    background: url('/files/images/button120x24_up.gif') top left no-repeat;
    padding-left: 15px;
}
.inp_btn140 {
    width: 140px;
    background: url('/files/images/button140x24_up.gif') top left no-repeat;
    margin-right: 30px;
}
.inp_btn170 {
    width: 170px;
    background: url('/files/images/button170x24_up.gif') top left no-repeat;
}
.inp_btn170_blue {
    width: 170px;
    background: url('/files/images/btn_blue_170.png') top left no-repeat;
    -background: none;
    -filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/files/images/btn_blue_170.png', sizingMethod='scale');
    color: #ffffff;
}
.inp_btn230 {
    width: 230px;
    background: url('/files/images/button230x24_up.gif') top left no-repeat;
}
.bl_btn_check {
    position: relative;
    float: left;
    margin-right: 30px;
}
.bl_btn_check .inp_check {
    position: absolute;
    top: 6px;
    left: 6px;
    *top: 2px;
    *left: 2px;
}
.frm_block {
    width: 100%;
    overflow: hidden;
    margin-top: 10px;
}
.bl_txt {
    width: 150px;
    float: left;
}
.inp_date {
    width: 80px;
}
/* table */
.table {
    margin: 5px 0px 0px 0px;
    padding: 0px;
    width: 100%;
    border-top: 1px solid #6e7d98;
}
.table tr.odd {
    background-color: #DBE2F0;
}
.table th {
    vertical-align:top;
    text-align: center;
    border-right: 1px solid #6e7d98;
    border-bottom: 1px solid #6e7d98;
    background-color: #d9dee7;
    padding: 3px 5px;
    font-weight: normal;
}
.table th.first {
    border-left: 1px solid #6e7d98;
}
.table th a {
    color: #505050;
    display: block;
    background: url('/files/images/arrow_down.gif') 100% 6px no-repeat;
    padding-right: 15px;
}
.table th a.up{
    background: url('/files/images/arrow_up.gif') 100% 6px no-repeat;
}
.table th.date_time {
    width: 75px;
}
.table td {
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    vertical-align: top;
    padding: 3px 5px;    
}
.table td.first {
    border-left: 1px solid #cccccc;
}
.table td.td_act {
    width: 30px;
    text-align: center;
}
.table td.td_check {
    width: 62px;
}
.table td.td_name_comp {
    width: 200px;
    white-space: nowrap;
}
.table td.td_time {
    width: 170px;
    white-space: nowrap;
}
.table td.td_ip {
    width: 120px;
    white-space: nowrap;
}
.table td .name_list{
    margin-right: 15px;
}
.table td.td_sys_mes .btn_copy {
	border: 0px;
	padding: 0px;
	margin: 2px 0px 0px 0px;
	width: 16px;
	height: 16px;
	float: left;
	background: url("/files/images/icons.png") -96px -114px no-repeat;
	cursor: pointer;
	margin-right: 5px;
}
.table td.td_sys_mes div.txt_mes {
	margin-left: 21px;
}
.table td.td_sys_mes .txt_copy {
	display: none;
	float: left;
}
.table td.td_sys_mes textarea.textarea {
	height: auto;
}
.table tr.act {
    cursor: default;
}
.table tr.act td {
    background-color: #849ac1;
    color: #ffffff;
}
.table tr.act td a {
    color: #ffffff;
}
/* current */
.dist_top_no {
    margin-top: 0px;
}
/* filter */
.btn_apply {
    color: #ffffff;
    width: 90px;
    background: url("/files/images/btn_blue_90.png") top left no-repeat;
}
.block_filter {
	padding: 5px;
	border: 1px solid #dddddd;
	margin-bottom: 10px;
	background-color: #f7f7f7;
	border-radius: 3px;
	moz-border-radius: 3px;
	/*box-shadow: 0px 0px 1px rgba(122,122,122,0.3);*/
}
.block_filter_param {
	border-bottom: 1px dotted #cccccc;
	padding-bottom: 5px;
	margin-bottom: 5px;
}
.block_filter_param .btn_calend {
	margin-left: -22px;
	margin-top: 3px;
	vertical-align: top;
}
.block_filter_param .filter_param {
	float: left;
	margin-right: 30px;
}
.block_filter_param .filter_param .filter_param_enter {
	margin-top: 3px;
	white-space: nowrap;
}
.block_filter_param .filter_param .inp_check {
	margin-right: 5px;
}
.block_filter_param .filter_param .select {
	width: 250px;
}
.block_filter_param .filter_param .select.select_log {
	width: 140px;
}
.block_filter_param .filter_param .inp_txt.inp_time {
	width: 30px;
	text-align: center;
}
.block_filter_param .inp_txt.inp_date {
	width: 90px;
}
.block_filter_param .dist_date {
	margin: 0px 5px;
}
.block_filter_param .dist_time {
	margin: 0px 2px;
}
.filter_param_search {
	margin-top: 22px;
}
.link_ext_search {
	padding-left: 15px;
	background: url("/files/images/sort_arrow_down_blue.png") left 5px no-repeat;
	margin-left: 30px;
}
.block_filter_param .filter_param.filter_param_dis .filter_param_enter {
	color: #cccccc;
}
.block_filter_param .filter_param.filter_param_dis .filter_param_enter input,
.block_filter_param .filter_param.filter_param_dis .filter_param_enter select {
	color: #cccccc;
	border-color: #cccccc;
	background-color: #f2f2f2;
}
.block_results {
	margin-bottom: 5px;
}
.block_results strong {
	font-size: 110%;
}
.block_navigation {
	margin-top: 5px;
}
.block_filter_param .delim_time,
.block_filter_param .delim_time2 {
	margin: 0px 3px;
	float: left;
}
.block_filter_param .delim_time2 {
	margin: 0px 10px;						
}
.block_filter_param .filter_param.no_dist_right {
	margin-right: 0px;
}
.bl_error {
	color: #ff0000;
}
.inp_txt.err_forms {
	border-color: #ff0000;
}
/* поиск */
.search {
    float: right;
    width: 220px;
    position: relative;
}
.search .left {
    float: left;
    width: 3px;
    height: 24px;
    background: url('/files/images/search_left.png') top left no-repeat;
    -background: none;  
    -filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/files/images/search_left.png', sizingMethod='crop');        
}
.search .btn_search {
    float: right;
    width: 23px;
    height: 24px;
    background: url('/files/images/search_right.png') top left no-repeat;
    -background: none;  
    -filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/files/images/search_right.png', sizingMethod='crop');            
    padding: 0px;
    margin: 0px;
    border: none;
    cursor: pointer;
}
.search .center {
    width: 194px;
    height: 24px;
    background: url('/files/images/search_bg.gif') top left repeat-x;
    position: absolute;
    top: 0px;
    left: 3px;        
}
.search .txt_search {
    margin: 0px;
    padding: 3px 2px 2px 0px;
    border: none;
    font: 13px Tahoma;
    color: #868686;
    background: none;
    width: 190px;
}
.block_loader {
    text-align: center;
    margin-top: 10px;
}
/**/
.link_head{
	color: #0088CC;
	padding-left: 12px;
	background: url("/files/images/sort_arrow_right_blue.png") left 50% no-repeat;
}
.link_head.arrow_down {
	background: url("/files/images/sort_arrow_down_blue.png") left 50% no-repeat;
}
.detailed_log table {
	margin: 5px 0px 0px 0px;
	padding: 0px;
	width: 100%;
	border-top: 1px solid #cccccc;
	background-color: #ffffff;
}
.detailed_log table td.td_revision {
	width: 60px;
	white-space: nowrap;
}
.detailed_log table th {
	vertical-align:top;
	text-align: center;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	background-color: #f2f2f2;
	padding: 2px 5px;
	font-weight: normal;
}
.detailed_log table th.th_first {
	border-left: 1px solid #cccccc;
}
.detailed_log table td {
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	padding: 2px 5px;
}
.detailed_log table td.td_first {
	border-left: 1px solid #cccccc;
}