{% load i18n templatetags %}   
<div class="bl_count_elem">
	<label for="count_obj">{% if navigation_title %}{% trans navigation_title %}{% else %}{% trans "Количество строк в таблице" %}{% endif %}:</label>
	<select name="per_page" class="select" onChange="javascript: onChange_per_pages()">
		{% if per_page and not per_page in limits %}
			<option value="{{ per_page }}" selected="selected">{{ per_page }}</option>
		{% endif %}
		{% for limit in limits %}
			<option value="{{ limit }}"{% if per_page == limit %} selected="selected"{% endif %}>{{ limit }}</option>
		{% endfor %} 
	</select>
</div>