{% load i18n %}
{% load templatetags %}
{% include "po1header.html" %}
<link rel="stylesheet" type="text/css" href="/files/css/po1/po1wanted.css?v=v{{ version }}" />

<!-- BEGIN: content-->
<div class="content">
	<div class="block_wanted">
		<ul class="menu_vkl">
			<li>
				<div>
					<div>
						<a href="base">База разыскиваемых лиц</a>
					</div>
				</div>
			</li>
			<li class="menu_vkl_act">
				<div>
					<div>
						<a href="report">Отчёт за день</a>
					</div>
				</div>
			</li>
		</ul>
		<div class="block_cont">
			<div class="block_cont_top2">
				<div class="block_cont_bottom min_height">
					<h2>Отчёт за день<input type="button" id="img_1" name="" value="" class="btn_quest" onClick="javascript: showHelp(this, '');" onMouseOver="javascript: buttonStatus(this, 'over');" onMouseOut="javascript: buttonStatus(this, 'up');" onMouseDown="javascript: buttonStatus(this, 'down');" onMouseUp="javascript: buttonStatus(this, 'over');" /></h2>
					<div class="block_date">Отчёт за <b>12.06.2010</b> <input type="button" name="" value="" class="btn_calend" title="Выбрать дату" /></div>
					<form method="post" action="" name="">
						<div class="frm_block">
							<div class="search">
								<span class="left"></span>
								<span class="center"><input type="text" name="filter" value="Введите имя" value="" class="txt_search" /></span>
								<input type="submit" name="" value="" class="btn_search" title="Найти" />
							</div>
							<div>Всего опознано людей: <span class="info_important">3</span></div>
						</div>
						<div class="frm_block">
							<table cellspacing="0" cellpadding="0" class="list_report_head">
								<tr>
									<th class="th_check">№</th>
									<th class="th_photo">Фото/ФИО</th>
									<th>Название камеры/Фото</th>
								</tr>
							</table>
							<table cellspacing="0" cellpadding="0" class="list_report">
								<tr>
									<td class="td_check">1.</td>
									<td class="td_photo">
										<div><a href="anketa"><img src="/files/images/image_test3.jpg" width="120" height="120" alt="image_test3" /></a></div>
										<a href="anketa">Иванов И. И.</a>
									</td>
									<td class="td_photos">
										<div>КПП №1 - Камера 1</div>
										<ul>
											<li><div><img src="/files/images/image_test3.jpg" width="100" height="100" alt="" /></div></li>
											<li><div><img src="/files/images/image_test3.jpg" width="100" height="100" alt="" /></div></li>
											<li><div><img src="/files/images/image_test3.jpg" width="100" height="100" alt="" /></div></li>
										</ul>
									</td>
								</tr>
								<tr>
									<td class="td_check">2.</td>
									<td class="td_photo">
										<div><a href="anketa"><img src="/files/images/image_test3.jpg" width="120" height="120" alt="image_test3" /></a></div>
										<a href="anketa">Петров И. И.</a>
									</td>
									<td class="td_photos">
										<div>КПП №2 - Камера 2</div>
										<ul>
											<li><div><img src="/files/images/image_test3.jpg" width="100" height="100" alt="" /></div></li>
											<li><div><img src="/files/images/image_test3.jpg" width="100" height="100" alt="" /></div></li>
											<li><div><img src="/files/images/image_test3.jpg" width="100" height="100" alt="" /></div></li>
										</ul>
									</td>
								</tr>
								<tr>
									<td class="td_check">3.</td>
									<td class="td_photo">
										<div><a href="anketa"><img src="/files/images/image_test3.jpg" width="120" height="120" alt="image_test3" /></a></div>
										<a href="anketa">Сидоров И. И.</a>
									</td>
									<td class="td_photos">
										<div>КПП №3 - Камера 3</div>
										<ul>
											<li><div><img src="/files/images/image_test3.jpg" width="100" height="100" alt="" /></div></li>
											<li><div><img src="/files/images/image_test3.jpg" width="100" height="100" alt="" /></div></li>
											<li><div><img src="/files/images/image_test3.jpg" width="100" height="100" alt="" /></div></li>
											<li><div><img src="/files/images/image_test3.jpg" width="100" height="100" alt="" /></div></li>
											<li><div><img src="/files/images/image_test3.jpg" width="100" height="100" alt="" /></div></li>
											<li><div><img src="/files/images/image_test3.jpg" width="100" height="100" alt="" /></div></li>											
										</ul>
									</td>
								</tr>								
							</table>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="clear"></div>   
</div>
<!-- END: content -->
</div>

{% include "po1footer.html" %}

<div class="info_photo_block2" id="block_fon" style="display: none;">&nbsp;</div>

{% include "window_help.html" %}

</body>
</html>