{% extends "base_tab.html" %}
{% load i18n templatetags %}
{% block title %}{% trans 'Выбор лиц' %}{% endblock %}
{% block js_css %}
<link rel="stylesheet" type="text/css" href="/files/css/po4/po4menuvkl.css?v=v{{ version }}" />
<link rel="stylesheet" type="text/css" href="/files/css/list_photos.css?v=v{{ version }}" />
<script src="/files/js-global/FancyZoom.js?v=v{{ version }}" type="text/javascript"></script>
<script src="/files/js-global/FancyZoomHTML.js?v=v{{ version }}" type="text/javascript"></script>
<script type="text/javascript" src="/files/js/list_photos.js?v=v{{ version }}"></script>
<script type="text/javascript">
var t_pids = [{{ t_pids }}];
$(function() {
	initSelectFaces();
});
function nextPage(){
	var pids = [];
	$('#list_photos li').each(function(index) {
		if($(this).attr('class') == 'lp_act'){
	    	pids.push($(this).attr('photo_id'));
		}
	});
	if (pids.length > 0) {
		window.location.href='{% url get-create-person-for-training %}?pids=' + pids.join(',') + '&tpids=' + t_pids.join(',');
	} else {
		//todo: alert message
	}
}
</script>
{% endblock %}
{% block language %}<input type="button" class="language {{ LANGUAGE_CODE }}" name="" id="change_language" value="{{ LANGUAGE_CODE|upper }}" onClick="javascript: showMessage('<span class=\'error\'>{% trans 'Внимание!' %}</span> {% trans 'Невозможно сменить язык на этой странице' %}.');" />{% endblock %}
{% block submenu %}{% include "menu_journal.html" %}{% endblock %}
{% block subcontent %}
	<h2><a href="{% url ident-journal %}">{% trans "Журнал идентификаций" %}</a> - {% trans "Выбор лиц" %}<input type="button" name="" value="" class="btn_quest" onClick="javascript: showHelp(this, '');" /></h2>
	{% include "current_time.html" %}
		<form method="POST" action="" name="frm_learn">
		<div class="message_action"><strong>{% trans "Шаг 1 из 3" %}.</strong>
			<div>{% trans "Выберите лица, которыми хотите обучить" %}.</div>
		</div>
		<div class="block dist_top">
			<ul class="menu_cutfaces" id="menu_cutfaces">
				<li class="mcf_first mcf_act"><a href="#">{% trans "Все" %} ({{ total_persons }})</a></li>
				<li class="mcf_dis"><a href="#" class="link_choose">{% trans "Только выделенные" %} (<span id="count_choose">0</span>)</a></li>
			</ul> 
			<div class="bl_btn_check short_descr" title="{% trans 'Выделить все записи на данной странице' %}">
				<div><input type="checkbox" name="" value="" class="inp_check choose_all" id="choose_all" checked="checked" /><label for="choose_all">{% trans 'Выделить всё' %}</label></div>
			</div>
		</div>					
		<ul class="block list_photos" id="list_photos">
			{% for j_person in journal_persons %}
			<li photo_id="{{ j_person.id }}">
				<div class="block_photo">{% if j_person.get_original_photo %}<img src="data:image/gif;base64,{{ j_person.get_original_photo_120x120 }}" />{% endif %}</div>
				<div class="photo_info"><div class="photo_param eyes short_descr" title="{% trans 'Расстояние между глазами' %}: {{ j_person.get_distance|floatformat:"-2" }}">{{ j_person.get_distance|floatformat:"-2" }}</div><div class="photo_param size short_descr" title="{% trans 'Разрешение' %}{% if j_person.get_original_info %}: {{ j_person.get_original_info.resol }}{% endif %}">{% if j_person.get_original_info %}{{ j_person.get_original_info.resol }}{% endif %}</div></div>
				<div class="block_check"><input type="checkbox" name="" value="" class="inp_check" checked="checked" {% if photo.error %}style="display: none;"{% endif %}/></div>
				{% if not photo.error %}<a href="{{ j_person.get_original_image_url }}?big=.jpg&eyes=" class="btn_loupe short_descr" target="_blank" title="{% trans 'Увеличить изображение' %}"><span></span></a>{% endif %}
			</li>
			{% endfor %}
		</ul>
		<ul class="list_photos" id="list_photos_choose" style="display: none;"></ul>
		<div class="block">
			<div class="bl_btn_check short_descr" title="{% trans 'Выделить все записи на данной странице' %}">
				<div><input type="checkbox" name="" value="" class="inp_check choose_all" id="choose_all2" checked="checked" /><label for="choose_all2">{% trans 'Выделить всё' %}</label></div>
			</div>					
		</div>
		<div class="block dist_top">
				<input type="button" name="" value="Далее" class="inp_btn btn_later" onClick="javascript: nextPage();" />
				<input type="button" name="" value="Назад" class="inp_btn inp_btn90 dist_left"  onClick="javascript: window.location.href='{% url ident-journal %}'"/>
			</div>
	</form>
{% endblock %} 
